#paymentWithCard {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 100px;
  margin-top: -100px;
  font-family: font3;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
#paymentWithCard .sub-details {
  min-height: 500px;
  min-width: 300px;
  margin: 10px auto;
  padding: 30px;
  border-right: solid 1px rgba(255, 255, 255, 0.4);
}
#paymentWithCard .sub-details h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  color: #f6f6f6;
  margin-bottom: 30px;
}
#paymentWithCard .sub-details .details-item {
  margin-bottom: 15px;
}
#paymentWithCard .sub-details .details-key {
  font-family: font3;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff54;
}
#paymentWithCard .sub-details .details-value {
  font-family: font3;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff;
}
#paymentWithCard .sub-details .btn-secondary {
  width: 120px;
  height: 40.29px;
  background-color: #84BB29 !important;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: solid 1px #84BB29;
}
#paymentWithCard .sub-details #input-class {
  background-color: transparent;
  height: 50px;
  padding: 0 20px;
  border: solid 1px #84BB29;
}
#paymentWithCard .pay-details {
  min-width: 300px;
  margin: 10px auto;
  min-height: 500px;
  padding: 30px;
}
#paymentWithCard .pay-details .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
#paymentWithCard .pay-details .head h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  color: #f6f6f6;
}
#paymentWithCard .pay-details .head img {
  width: 40px;
}
#paymentWithCard .pay-details .card-num {
  background-color: transparent;
  height: 30px;
  border: none;
}
#paymentWithCard .pay-details .form-group {
  margin-bottom: 20px;
}
#paymentWithCard .pay-details .form-group label {
  margin: 0;
}
#paymentWithCard .pay-details .input-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
#paymentWithCard .pay-details .form-control {
  padding: 0;
}
#paymentWithCard .pay-details .input-group-text {
  background-color: transparent;
  border: none;
}
#paymentWithCard .pay-details .pay-button {
  text-align: center;
  margin: 50px 0;
}
#paymentWithCard .pay-details .pay-button button {
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 100px;
}

@media screen and (max-width: 1020px) {
  #paymentWithCard  {
    margin-top: -50px;
  }
  #paymentWithCard .sub-details {
    padding: 10px;
  }
}
@media screen and (max-width: 760px) {
  #paymentWithCard .sub-details {
    border: none;
  }
  #paymentWithCard .sub-details .details-item {
    margin-bottom: 5px;
  }
  #paymentWithCard .sub-details h4 {
    margin-bottom: 20px;
  }
  #paymentWithCard .pay-details {
    padding: 10px;
  }
  #paymentWithCard .pay-details .head {
    margin-bottom: 30px;
  }
}
