#paymentInBank {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding-top: 100px;
  margin-top: -100px;
  font-family: font3;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
}
#paymentInBank .sub-details {
  min-height: 500px;
  min-width: 300px;
  margin: 10px auto;
  padding: 30px;
  border-right: solid 1px rgba(255, 255, 255, 0.4);
}
#paymentInBank .sub-details h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  color: #f6f6f6;
  margin-bottom: 30px;
}
#paymentInBank .sub-details .details-item {
  margin-bottom: 15px;
}
#paymentInBank .sub-details .details-key {
  font-family: font3;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff54;
}
#paymentInBank .sub-details .details-value {
  font-family: font3;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;

  color: #ffffff;
}
#paymentInBank .sub-details .btn-secondary {
  width: 120px;
  height: 40.29px;
  background-color: #26aa76 !important;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: solid 1px #26aa76;
}
#paymentInBank .sub-details #input-class {
  background-color: transparent;
  height: 50px;
  padding: 0 20px;
  border: solid 1px #26aa76;
}
#paymentInBank .pay-details {
  min-width: 300px;
  margin: 10px auto;
  min-height: 500px;
  padding: 30px;
}
#paymentInBank .pay-details .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
#paymentInBank .pay-details .head h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  color: #f6f6f6;
  margin: 0;
}
#paymentInBank .pay-details .head img {
  width: 50px;
}
#paymentInBank .pay-details .grey-text {
  color: #aca5bf;
}
#paymentInBank .pay-details .mb-50 {
  margin-bottom: 50px;
}
#paymentInBank .pay-details .mt-50 {
  margin-top: 50px;
}
#paymentInBank .pay-details button {
  width: 150px;
  height: 40px;
  border: none;
  background: rgba(38, 170, 118, 0.45);
  border-radius: 5px;
  color: white;
}
@media screen and (max-width: 1020px) {
  #paymentInBank {
    margin-top: -50px;
  }
  #paymentInBank .sub-details {
    padding: 10px;
  }
}
@media screen and (max-width: 760px) {
  #paymentInBank .sub-details {
    border: none;
  }
  #paymentInBank .sub-details .details-item {
    margin-bottom: 5px;
  }
  #paymentInBank .sub-details h4 {
    margin-bottom: 20px;
  }
  #paymentInBank .pay-details {
    padding: 10px;
  }
  #paymentInBank .pay-details .head {
    margin-bottom: 30px;
  }
}
