#school-dashboard {
  background-color: #000;
  padding-bottom: 240px;
  color: white;
}
#school-dashboard .top-display {
  /* background: url('../../../../assets/img/schoolStudents.png'); */
  height: 50vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
#school-dashboard .top-display input {
  width: 0;
  height: 0;
}
#school-dashboard .top-display label {
  position: relative;
  z-index: 3;
  color: #c4c4c4;
}
#school-dashboard .top-display::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.63);
}

#school-dashboard .class-name {
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.7);
}
#school-dashboard .class-name:not(:first-child) {
  margin-top: 16px;
}
#school-dashboard .term.selected .term-lessons {
  display: block;
}
#school-dashboard .term .term-lessons {
  display: none;
}
#school-dashboard .term .chevron {
  transition: transform 0.2s ease;
}
#school-dashboard .term.selected .chevron {
  transform: rotate(180deg);
}

#school-dashboard .stat-display {
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  flex-direction: column;
  margin-top: -15px;
  position: relative;
}
#school-dashboard .stat-display > div {
  width: 100%;
  text-align: center;
  padding: 15px 15px;
}
#school-dashboard .stat-display > div:first-child {
  box-shadow: 0 2px lightgrey;
}
@media (min-width: 576px) {
  #school-dashboard .stat-display {
    flex-direction: row;
  }
  #school-dashboard .stat-display > div:first-child {
    box-shadow: 2px 0 lightgrey;
  }
}
@media (min-width: 768px) {
  #school-dashboard .stat-display {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -20px;
    margin-top: 0;
  }
  #school-dashboard .stat-display > div {
    width: auto;
    flex-grow: 1;
  }
}

#school-dashboard select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../../../../assets/img/Chevron.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: 14px;
}

#school-dashboard .gradient-bg {
  background: linear-gradient(
    181.01deg,
    rgba(51, 50, 50, 0.36) 0.87%,
    rgba(51, 50, 50, 0.36) 68.85%,
    rgba(51, 50, 50, 0) 142.59%,
    rgba(51, 50, 50, 0) 145.33%
  );
  border-radius: 5px;
}

.rad-10 {
  border-radius: 10px;
}
.rad-5 {
  border-radius: 5px;
}

#school-dashboard .menu-container > * {
  color: rgba(0, 0, 0, 0.78) !important;
  padding: 14px 16px;
}
#school-dashboard .menu-container > * > .icon {
  width: 30px;
  display: inline-block;
}
#school-dashboard .menu-container > *:not(:first-child) {
  border-top: 1px solid lightgrey;
}
.underlined {
  text-decoration: underline;
  color: rgb(38, 170, 118) !important;
}

.underlined:hover {
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}
.font2 {
  font-family: font2;
  font-weight: 700;
}
.select-class {
  background-image: url("/static/media/Chevron.28912e1d.svg");
}
select.general {
  background: rgba(38, 170, 118, 0.28);
}
