#signupFirstSection {
  background-image: url(/static/media/sample.b216c582.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  /* margin-top: -33px; */
  color: #fff;
  height: 150vh;
}

#signupFirstSection h3 {
  font-family: font2;
  color: white;
}

#signupFirstSection img.social {
  width: 23px;
  height: 23px;
  object-fit: contain;
  margin-top: -5px;
}
#signupFirstSection .relative svg {
  position: absolute;
  right: 30px;
  top: 33px;
}

#signupFirstSection .socialText {
  color: #636060;
  font-size: 13px;
  display: block;
}
#signupFirstSection .push {
  margin-top: 15px;
}
#signupFirstSection input[type="submit"] {
  border-radius: 4px !important;
}

@media screen and (max-width: 768px) {
  /* #signupFirstSection {
        height: 196vh;
        margin-top: -224px;
    } */
  #signupFirstSection {
    height: calc(165vh);
    margin-top: 0px;
  }
  #signupFirstSection .push7 {
    margin-top: 15px;
  }
  /* #signupFirstSection .fly {
        top: 63%;       
    } */
}
.underline {
  text-decoration: underline;
}
