.uppercase {
  text-transform: uppercase;
}
.green {
  color: #688a02 !important;
}
/* Style the search field */
form.faculty-search {
  border: 1px solid rgb(238, 237, 237);
  background-color: #f1f1f181;
  /* 688a02 */
}
form.faculty-search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: unset;
  float: left;
  width: 80%;
  background: transparent;
}
#faculties .intro{
  font-size: 19px;
}
#faculties .my-2 {
  margin-bottom: .5rem!important;
  font-size: 17px;
}
#faculties strong {
  font-size: 20px;
}
#faculties .lastGuy {
  font-size: 18px;
}
/* Style the submit button */
form.faculty-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: unset;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.faculty-search button:hover {
  background: transparent;
}

/* Clear floats */
form.faculty-search::after {
  content: "";
  clear: both;
  display: table;
}
.show-on-hover {
  min-height: 260px;
  max-height: 360px;
  width: 180px;
  background-color: #fff;
  position: absolute;
  display: none;
  padding: 20px 10px;
  box-shadow: 1 1 1 blur #000;
  overflow-y: scroll;
  z-index: 2;
  /* border: solid 1px rgb(241, 239, 239); */
}
.faculty-member .img {
  height: 260px;
  width: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* border: solid 1px rgb(241, 239, 239); */
}
.show-on-hover::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.faculty-members:hover .img {
  opacity: 0.6;
}
.faculty-member:hover .show-on-hover {
  display: block;
  border: solid 1px rgb(241, 239, 239);
}
.faculty-member:hover .img {
  opacity: 1;
  border: solid 1px rgb(241, 239, 239);
}
@media screen and (max-width: 900px) {
  .show-on-hover {
    height: 100px;
    width: 100px;
  }
  .faculty-member .img {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
