#facultyPage {
  padding: 75px  72px;
  overflow-y: hidden;
}
#facultyFirstSection p, #facultyThirdSection p{
  font-size: 19px;
}
#facultyFirstSection .heading-text {
  color: #688a02;
}
#facultySecondSection {
  margin-top: 43px;
}
#facultySecondSection img {
  height: 267px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
#facultySecondSection .col-md-2, #facultyFirstSection .col-md-12{
  padding: 6px;
}
#facultySecondSection p {
  padding: 14px 7px;
  text-align: left;
  position: absolute;
  left: 0px;
  display: none;
  z-index: 20;
  background: white;
  height: 267px;
  overflow-x: auto;
}
.singleProfile:hover p{
  display: block !important;
}
.singleProfile:hover img{
  opacity: 1 !important;
  /* animation-name: bounce;
  animation-duration: 1s; */
}
.imageCollection:hover img {
  opacity: 0.6;  
}
#facultyThirdSection {
  margin-top: 100px;
}
.uppercase {
  text-transform: uppercase;
}
.green {
  color: #688a02 !important;
}
.freebirdLightBackground {
  background-color: white !important;
}


@keyframes bounce {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}




@media screen and (max-width: 600px) {
  #facultyPage {
    padding: 50px 20px;
    overflow-y: hidden;
    margin-top: 58px;
  }
}
