#loginFirstSection{
	background-image: url('../../../../assets/img/sample.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	margin-top: -90px;
    color: white;
    height: 110vh;
}

#loginFirstSection h3 {
    font-family: font2;
    color: white;
}

#loginFirstSection img.social {
    width: 23px;
    height: 23px;
    object-fit: contain;
}

#loginFirstSection .socialText {
    color: #636060;
    font-size: 13px;
}
#loginFirstSection .push {
    margin-top: 15px;
}
#loginFirstSection input[type="submit"] {
    border-radius: 4px !important;
}

@media screen and (max-width: 768px) {
    /* #loginFirstSection {
        height: 155vh;
        margin-top: -234px;
    } */
    #loginFirstSection {
        height: 118vh;
        margin-top: 0px;
    }
    #loginFirstSection .push7 {
        margin-top: 15px;      
    }
    #loginFirstSection .push7 .floatRight{
        float: left !important;
    }
  
}