@keyframes bounce {
  0% {
    scale: 2;
    font-size: 30px;
  }
  50% {
    scale: 0.9;
    font-size: 20px;
  }
  100% {
    scale: 1;
    font-size: 30px;
  }
}
#feeds {
  background-color: #000;
  color: #ffffff;
  min-height: 110vh;
}
#feeds h1 {
  font-weight: 500;
  font-size: 30px;
}
#feeds .grey-border {
  border-color: rgba(245, 241, 241, 0.171);
}
#feeds .avartar {
  min-width: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #84bb29 !important;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}
#feeds .avartar.avartar-lg {
  width: 100px;
  height: 100px;
}
.sticky-part.col-md-7.middle-now {
  /* position: absolute; */
  /* top: 0; */
  left: 50%;
  transform: translateX(-57%);
}
.sticky-part-one.sticky-now-one {
  position: fixed;
  top: 3%;
  left: 1%;
  overflow-y: scroll;
  height: 100%;
}
.sticky-part-two.sticky-now-two {
  position: fixed;
  top: 3%;
  right: 1%;
}

.sticky-part::-webkit-scrollbar {
  display: none;
}
.sticky-part {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
#feedsLeftSideSection {
  background: #313030;
  border-radius: 5px;
  /* overflow-y: scroll; */
}
#feedsLeftSideSection ul.nav {
  margin-left: 20px;
}
#feedsLeftSideSection ul {
  list-style-type: none;
  padding-left: 0;
}

#feedsLeftSideSection ul a {
  list-style: none;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
.mobile-nav-item {
  list-style: none;
  font-weight: 500;
  /* font-size: 15px; */
  line-height: 17px;
  display: flex;
  align-items: center;
  margin: 10px;
  background-color: transparent;
  border: none;
  color: #ffffff;
}
#feedsLeftSideSection ul a.active {
  color: #84bb29 !important;
}
#feedsLeftSideSection ul a.active::before {
  content: "";
  height: 30px;
  width: 4px;
  background-color: #84bb29;
  display: inline-block;
  transform: translateX(-30px);
}
.mobile-nav-item.active {
  color: #84bb29 !important;
}
.mobile-nav-item.active::before {
  content: "";
  height: 17px;
  width: 2px;
  background-color: #84bb29;
  display: inline-block;
  transform: translateX(-10px);
}

#feedsMainSection {
  background: #313030;
  border-radius: 5px;
}

#feedsSearchSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box {
  border-radius: 5px;
  flex: 1;
}
.more-box {
  border-radius: 5px;
  flex: 0 1 10%;
}
.visibility-box li {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.visibility-box .form-check {
  display: flex;
  align-items: center;
}
.visibility-input {
  height: 0;
  width: 0;
  visibility: hidden;
}
.visibility-label::before {
  content: "";
  width: 17px;
  height: 17px;
  border: solid 2px grey;
  background-color: transparent;
  display: inline-block;
  transform: translateX(-30px);
}
.visibility-input:checked + .visibility-label::before {
  background-color: #84bb29;
  border-color: #84bb29;
}

#feedsRightSideSection {
  background: #313030;
  border-radius: 5px;
  box-sizing: border-box;
}
#feeds .search-box-section {
  padding: 1rem 4rem;
}
#feeds .form-select {
  background-image: url("../../../../assets/img/ArrowDown.svg");
  background-size: auto;
}
#feeds .feed-para {
  font-weight: 500;
  font-size: 18px;
}

#feeds .card-body {
  padding: 0rem;
}
#feeds .feed-post-image {
  height: 250px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
#feeds .feed-comment-image {
  height: 250px;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
}
#feeds .empty-state {
  min-height: 250px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#feeds .hidden-label {
  width: 0;
  height: 0;
  visibility: hidden;
}
#feeds .follow {
  display: inline-block;
}
#feeds .unfollow {
  display: none;
}
#feeds .hidden-label:checked + .unfollow {
  display: block;
}
#feeds .hidden-label:checked + .follow {
  display: none;
}
#feeds .react-input-emoji--container {
  color: white;
  background-color: transparent;
  border: 0.5px solid #a8a8a8 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;

  border-radius: 0px !important;
  margin: 5px 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 20px;
  min-height: 20px;
  min-width: 0;
  outline: none;
  width: inherit;
  will-change: width;
  vertical-align: baseline;
  margin-right: 0;
}
#feeds .dropdown-menu {
  padding: 0;
}
#feeds .emojiSelector {
  position: absolute;
  top: 50px;
  z-index: 3;
  height: 30px;
  width: 100px;
  background-color: #ddd;
}
#feeds .uploaded-image-preview {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
}
#feeds .comment-image-preview {
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  margin: 10px;
  position: relative;
  background-color: #fff;
}
#feeds .comment-image-preview-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

#feeds .dropdown-for-search {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  height: auto;
  max-height: 300px;
  background-color: #ffffff;
  z-index: 2;
  overflow-y: scroll;
  border-radius: 0.5rem;
}

#feeds .dropdown-for-search::-webkit-scrollbar {
  display: none;
}
.like-button:active {
  animation: bounce 1s linear;
}
.show-900 {
  display: none;
}

@media screen and (max-width: 1200px) {
  #feedsLeftSideSection ul a.active::before {
    display: none;
  }
  #feedsLeftSideSection {
    display: none;
  }
  #feedsRightSideSection {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #feedsSearchSection {
    flex-wrap: wrap;
  }
  #feeds .feed-comment-image {
    height: 150px;
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
  }
  .sticky-part.col-md-7.middle-now {
    /* position: absolute; */
    /* top: 0; */
    left: unset;
    transform: unset;
  }
  .sticky-part {
    height: unset;
    overflow-y: unset;
  }
  .more-box {
    flex: 100%;
  }
  .show-900 {
    display: block;
  }
  .hide-900 {
    display: none;
  }
  #feeds h1 {
    font-size: 20px;
  }
  #feedsMainSection {
    background: transparent;
    padding: 0 !important;
  }
  #myFeeds {
    padding: 0 !important;
  }

  #feeds .search-box-section {
    padding: 1rem 10px;
  }
}
@media screen and (max-width: 500px) {
  #feeds .emojiSelector {
    left: 50% !important;
    transform: translate(-50%, 100%) !important;
  }
}
