#selectPaymentPageSectionOne {
  background-color: black;
  color: white;
  height: 100vh;
  border: solid 1px;
  /* height: 100vh; */

  padding-top: 110px;
  margin-top: -75px;
}
#selectPaymentPageSectionOne .sub-lenght {
  /* border-bottom: 1px solid rgba(227, 227, 227, 0.14); */
  /* padding-top: 50px; */
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne h3 {
  margin-bottom: 50px;
  margin-top: 30px;
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  line-height: 55px;
}

#selectPaymentPageSectionOne .sub-lenght .monthly .row {
  text-align: center;
}
#selectPaymentPageSectionOne .sub-lenght .monthly {
  background-color: #fdad51;
}
#selectPaymentPageSectionOne .sub-lenght .quarterly {
  background-color: #26aa76;
}
#selectPaymentPageSectionOne .sub-lenght .bi-annual {
  background-color: #50e55a;
}
#selectPaymentPageSectionOne .sub-lenght .yearly {
  background-color: #fdc9a6;
}

#selectPaymentPageSectionOne .pay-methods .item {
  width: 90%;
  height: 333px;
  border-radius: 15px;
  border: 1px solid #f2efef;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 5%;
}
#selectPaymentPageSectionOne .pay-methods .item:hover {
  opacity: 0.9;
}
#selectPaymentPageSectionOne .pay-methods .active {
  background-color: #26aa76;
}
#selectPaymentPageSectionOne .pay-methods .item h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  /* font-size: 35px; */
  line-height: 55px;
}
#selectPaymentPageSectionOne .pay-methods {
  padding-top: 50px;
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne .proceed-button {
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne .proceed-button .col:first-child {
  text-align: start;
}
#selectPaymentPageSectionOne .proceed-button .col:last-child {
  text-align: end;
}

#selectPaymentPageSectionOne select {
  /* width: 200px; */
  height: 50px;
  color: white;
  padding: 10px;
  display: inline-block;
  background: rgba(196, 196, 196, 0.22);
  border: 1px solid #fff;
  border-radius: 7px;
}
#selectPaymentPageSectionOne input {
  min-width: 200px;
  height: 50px;
  border: solid 1px currentColor;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding: 10px;
  display: inline-block;
  /* margin: 20px 0; */
  margin-bottom: 20px;
}
#selectPaymentPageSectionOne input::placeholder {
  color: white;
}
#selectPaymentPageSectionOne select option {
  color: black;
  text-align: center;
}
#selectPaymentPageSectionOne button {
  width: 200px;
  height: 50px;
  border: solid 1px currentColor;
  border-radius: 100px;
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 900px) {
  #selectPaymentPageSectionOne {
    margin-top: -250px;
    padding: 10px;
    padding-top: 300px;
    height: auto;
  }
  #selectPaymentPageSectionOne .pay-methods .item {
    height: 95%;
  }
  #selectPaymentPageSectionOne .proceed-button .col {
    justify-content: center;
  }
  #selectPaymentPageSectionOne .proceed-button .col:first-child {
    text-align: center;
  }
  #selectPaymentPageSectionOne .proceed-button .col:last-child {
    text-align: center;
  }
  #selectPaymentPageSectionOne h3 {
    line-height: 35px;
    font-size: 20px;
  }
  #selectPaymentPageSectionOne .sub-lenght {
    text-align: center;
  }
}
#selectPaymentPageSectionOne .box {
  width: 100%;
  height: 600px;
  background: linear-gradient(
    181.01deg,
    rgba(51, 50, 50, 0.36) 0.87%,
    rgba(51, 50, 50, 0.36) 68.85%,
    rgba(51, 50, 50, 0) 142.59%,
    rgba(51, 50, 50, 0) 145.33%
  );
  border-radius: 20px;
  padding: 3px 40px;
}
#selectPaymentPageSectionOne .box h3 {
  font-family: font2;
  margin-bottom: 40px;
  /* font-size: 26px; */
}
#selectPaymentPageSectionOne .box p {
  margin-bottom: 35px;
  margin-top: 20px;
  position: relative;
  font-family: font3;
}
#selectPaymentPageSectionOne .box p::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
  position: relative;
  z-index: 2;
}

#selectPaymentPageSectionOne .box .one::before {
  background: #fdc9a6;
}
#selectPaymentPageSectionOne .box .two::before {
  background: #26aa76;
}
#selectPaymentPageSectionOne .box .three::before {
  background: #fdad51;
}
#selectPaymentPageSectionOne .box .four::before {
  background: #50e55a;
}
#selectPaymentPageSectionOne .box p::after {
  content: "";
  width: 2px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.253);
  display: inline-block;
  margin-right: 30px;
  transform: translateY(10px);
  position: absolute;
  left: 7.5px;
}
#selectPaymentPageSectionOne .box p:last-child::after {
  display: none;
}
@media screen and (max-width: 900px) {
  #selectPaymentPageSectionOne .box {
    height: auto;

    border-radius: 5px;
    padding: 20px;
  }
  #selectPaymentPageSectionOne .col-md-5 {
    order: 2;
  }
  #selectPaymentPageSectionOne .box h2 {
    margin-bottom: 30px;
  }
  #selectPaymentPageSectionOne .box p {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 10px;
  }
  #selectPaymentPageSectionOne .box p::before {
    width: 10px;
    height: 10px;
    margin-right: 20px;
  }

  #selectPaymentPageSectionOne .box p::after {
    height: 30px;
    left: 4px;
  }
}
