#selectPaymentPageSectionOne {
  background-color: black;
  color: white;
  min-height: calc(100vh + 180px);
  text-align: center;
  padding-top: 300px;
  margin-top: -260px;
}
#selectPaymentPageSectionOne .sub-lenght {
  /* border-bottom: 1px solid rgba(227, 227, 227, 0.14); */
  padding-top: 50px;
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne h3 {
  margin-bottom: 50px;
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  line-height: 55px;
}

#selectPaymentPageSectionOne .sub-lenght .monthly {
  background-color: #fdad51;
}
#selectPaymentPageSectionOne .sub-lenght .quarterly {
  background-color: #26aa76;
}
#selectPaymentPageSectionOne .sub-lenght .bi-annual {
  background-color: #50e55a;
}
#selectPaymentPageSectionOne .sub-lenght .yearly {
  background-color: #fdc9a6;
}

#selectPaymentPageSectionOne .pay-methods .item {
  width: 90%;
  height: 333px;
  border-radius: 15px;
  border: 1px solid #f2efef;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  padding: 5%;
}
#selectPaymentPageSectionOne .pay-methods .item:hover {
  opacity: 0.9;
}
#selectPaymentPageSectionOne .pay-methods .active {
  background-color: #26aa76;
}
#selectPaymentPageSectionOne .pay-methods .item h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  /* font-size: 35px; */
  line-height: 55px;
}
#selectPaymentPageSectionOne .pay-methods {
  padding-top: 50px;
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne .proceed-button {
  padding-bottom: 100px;
}
#selectPaymentPageSectionOne .proceed-button .col:nth-of-type(1) {
  text-align: start;
}
#selectPaymentPageSectionOne .proceed-button .col:nth-of-type(2) {
  text-align: end;
}

#selectPaymentPageSectionOne select {
  width: 200px;
  height: 50px;
  border: solid 1px currentColor;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  padding: 10px;
  display: inline-block;
}
#selectPaymentPageSectionOne select option {
  color: black;
  text-align: center;
}
#selectPaymentPageSectionOne button {
  width: 200px;
  height: 50px;
  border: solid 1px currentColor;
  border-radius: 100px;
  background-color: transparent;
  color: white;
}
@media screen and (max-width: 900px) {
  #selectPaymentPageSectionOne {
    margin-top: -250px;
    padding: 10px;
    padding-top: 300px;
  }
  #selectPaymentPageSectionOne .pay-methods .item {
    height: 95%;
  }
  #selectPaymentPageSectionOne .proceed-button .col {
    justify-content: center;
  }
  #selectPaymentPageSectionOne .proceed-button .col:nth-of-type(1) {
    text-align: center;
  }
  #selectPaymentPageSectionOne .proceed-button .col:nth-of-type(2) {
    text-align: center;
  }
}
