#classNoteFirstSection {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)),
    url("../../../../assets/img/pencil.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -90px;
  color: white;
  height: calc(105vh);
  padding-top: 165px;
}

#classNoteFirstSection h1 {
  font-family: font2;
  text-align: center;
  font-size: 83px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 59px;
}

#classNoteFirstSection .box3 {
  background: white;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 9px 2px;
  font-size: 19px;
}

#classNoteFirstSection .box4 {
  background: #3b3a3a;
}

#classNoteFirstSection h5 {
  font-family: font2;
  margin-top: 30px;
  margin-left: 5px;
}

#classNoteSecondSection {
  padding: 50px 107px 150px 107px;
  background: black;
  color: white;
  overflow: hidden;
}

#classNoteSecondSection .backArrow {
  border: solid 0.5px gray;
  padding: 7px 12px;
}

#classNoteSecondSection .title {
  margin-top: 40px;
  color: #84BB29;
  font-family: font2;
  font-size: 23px;
}

#classNoteSecondSection .content {
  text-align: justify;
  margin-top: 16px;
}

#classNoteSecondSection .content img {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
}

#classNoteSecondSection #navigation p {
  margin-bottom: 0px !important;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  /* #classNoteFirstSection {
    height: 118vh;
    margin-top: -180px;
    padding-top: 211px;
} */
  #classNoteFirstSection {
    height: calc(100vh);
    margin-top: -24px;
    padding-top: 21px;
  }
  #classNoteSecondSection #navigation .button {
    height: auto;
  }
  #classNoteSecondSection #navigation h6 {
    font-size: 14px;
  }
  #classNoteFirstSection h1 {
    font-size: 32px;
    margin-top: 145px;
    margin-bottom: 0px;
  }

  #classNoteSecondSection .backArrow {
    padding: 7px 10px;
  }

  #classNoteSecondSection svg {
    margin-left: -15px;
  }

  #classNoteFirstSection .push2 {
    padding: 1px 20px;
  }

  #classNoteFirstSection .box3 {
    height: 40px;
    width: 40px;
    padding: 7px 2px;
    font-size: 18px;
    margin-bottom: 7px;
  }

  #classNoteSecondSection {
    padding: 50px 20px 140px 20px;
    margin-bottom: -30px;
  }

  #classNoteSecondSection .dropDownContent {
    height: 0px !important;
    top: -197px;
  }
}

#classNoteSecondSection #navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

#classNoteSecondSection #navigation .button {
  flex: 0 0 25%;
  background-color: rgba(255, 255, 255, 0.199) !important;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

#classNoteSecondSection #navigation .button .arrow {
  width: 15%;
  font-size: 28px;
  font-weight: lighter;
}

#classNoteSecondSection #navigation .button1 {
  justify-content: flex-start;
}

#classNoteSecondSection #navigation .button2 {
  justify-content: flex-end;
}

#classNoteSecondSection #navigation .button1 div {
  border-left: 1px solid #fff;
  padding: 0 20px;
}

#classNoteSecondSection #navigation .button2 div {
  text-align: right;
  border-right: 1px solid #fff;
  padding: 0 20px;
}

#classNoteSecondSection #navigation .text {
  /* font-size: 20px; */
}

.custom-green {
  color: #84BB29;
}

@media screen and (max-width: 900px) {
  #classNoteSecondSection #navigation .button {
    flex: 0 0 35%;
    padding: 10px 5px;
  }

  #classNoteSecondSection #navigation .button div p {
    margin: 0;
    font-size: 10px;
  }

  #classNoteSecondSection #navigation .button div h4 {
    margin: 0;
    font-size: 10px;
  }

  #classNoteSecondSection #navigation .button1 div {
    padding: 0 5px;
  }

  #classNoteSecondSection #navigation .button2 div {
    text-align: right;
    padding: 0 5px;
  }

  #classNoteSecondSection #navigation .button .arrow {
    padding: 3px;
    margin-left: 0;
  }

  #classNoteSecondSection #navigation .text {
    font-size: 10px;
  }
}
.next-lesson-or-quiz {
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
}
.next-lesson-or-quiz button {
  background: #26aa76;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
}
