#assignContentPageSectionOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),
    url("../../../../assets/img/mystudentsone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 550px;
  margin-top: -300px;
  text-align: center;
}
#assignContentPageSectionOne h1 {
  padding-top: 350px;
  color: #ffffff;
}
#assignContentPageSectionOne h4 {
  color: #26aa76;
}
#assignContentPageSectionTwo {
  background-color: black;
}
#assignContentPageSectionTwo .container-fluid {
  padding: 50px 100px;
}
#assignContentPageSectionTwo .input-textarea,
#assignContentPageSectionTwo .attachment,
#assignContentPageSectionTwo .date {
  width: 100%;
  background: linear-gradient(
    181.01deg,
    rgba(51, 50, 50, 0.36) 0.87%,
    rgba(51, 50, 50, 0.36) 68.85%
  );
  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

#assignContentPageSectionTwo .input-textarea {
  height: 400px;
  padding: 20px 50px;
}
#assignContentPageSectionTwo .input-textarea span {
  padding: 0 20px;
}
#assignContentPageSectionTwo .input-textarea textarea {
  background-color: transparent;
  border: none;
  color: white;
}
#assignContentPageSectionTwo .input-textarea textarea::placeholder {
  color: white;
}
#assignContentPageSectionTwo .attachment {
  height: 240px;
  color: white;
}
#assignContentPageSectionTwo .attachment .row {
  padding: 20px 30px;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.32);
  align-items: center;
}
#assignContentPageSectionTwo .date {
  height: 150px;
  padding: 20px 30px;
}
#assignContentPageSectionTwo .date input {
  width: 250px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
}
#assignContentPageSectionTwo .date input::-webkit-calendar-picker-indicator {
  color: white;
}

@media screen and (max-width: 900px) {
  #assignContentPageSectionTwo .input-textarea {
    padding: 10px;
  }
  #assignContentPageSectionTwo .attachment .row {
    padding: 10px;
  }
  #assignContentPageSectionTwo .date {
    height: 150px;
    padding: 10px;
  }
}
@media screen and (max-width: 766px) {
  #assignContentPageSectionTwo .container-fluid {
    padding: 10px;
  }
}
#assignContentPageSectionTwo button{
    padding: 10px 50px;
    border: none;
    border-radius: 100px;
    margin: 100px;
    color: white;
    background-color: #26aa76;
}