.Examination {
    padding: 115px 90px 120px 90px;
    background: black;
    margin-top: -81px;
    color: white;
    height: 120vh;
}

.Examination .partOne {
    padding-right: 150px;
}

.Examination .headingOne {
    font-size: 15pt;
    color: white;
}

.Examination .p3 {
    margin-top: 20px;
}

.Examination .afterNav {
    padding-left: 48px;
    margin-bottom: 120px;
}

img.motivation {
    margin: auto;
    margin-bottom: auto;
    display: block;
    margin-bottom: 10px;
    height: 160px;
    width: 160px;
    object-fit: contain;
    object-position: top;
}

.Examination img.myBadge {
    width: 26px;
    margin-top: -3px;
    object-fit: contain;
    height: 25px;
}
.Examination .submitButton{
    width: 120px;
    margin: auto;
    display: block;
    margin-top: 8px;
    object-fit: contain;
}
.Examination .movement{
    width: 30px;
    object-fit: contain;
}
.Examination .h12 {
    margin-bottom: 76px;
}

.Examination .optionSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82%;
    margin-top: 30px;
    font-size: 20px;
}

.Examination a.myReport {
    list-style: none;
    margin-top: 10px;
}

.Examination .categoryBadge {
    border-radius: 10px;
    box-shadow: 0pt 0.5pt 10pt rgba(0, 0, 0, 0.1);
    padding: 7px 11px;
    color: white;
    font-size: 15px;
    font-family: font1;
    text-align: center;
    background: #84BB29 ;
}

.Examination .bg-success {
    background-color: #84BB29  !important;
}

.Examination .push33 {
    margin-top: -2px;
}

.Examination .second {
    margin-left: 39px;
}

.Examination .third {
    display: block;
    padding: 6px 11px;
}
.Examination .first {
    margin-left: 30px;
}

.Examination .myProgress,
.Examination .question {
    margin-top: 37px;
}

.Examination .progress {
    height: 0.5rem;
}

.Examination .myQuestion {
    box-shadow: 0pt 0.5pt 4pt rgb(0 0 0 / 10%);
    padding: 10px 21px;
    border-radius: 11px;
    margin-bottom: 16px;
    width: 81%;
    background: black;
    color: white !important;
    border: dotted 2px;
}

.Examination .beforeOptions {
    margin-bottom: 27px;
}

.Examination a.report,
.Examination .previous,
.Examination .skip {
    border-radius: 6px;
    background: #969fa9 !important;
    color: white !important;
    font-family: font1;
    padding: 7px 35px;
}

.Examination a.previous {
    background: #84BB29  !important;
}

.Examination a.skip {
    background: #fabf61 !important;
    margin-left: 16px;
}

.Examination .afterReport {
    float: right;
    text-align: right;
}

.Examination .beforeReport {
    margin-top: 19px;
    width: 86%;
}

.Examination .timerSection {
    padding-left: 33px;
}

.Examination .timer {
    border-radius: 7px;
    box-shadow: 0pt 0.5pt 10pt rgba(0, 0, 0, 0.1);
    padding: 7px 11px;
    color: white;
    font-size: 14px;
    font-family: font1;
    float: right;
    background: #84BB29 ;
}

.Examination .questionImgSection, .Examination .questionSection, .Examination .questionSection span, .Examination .questionSection p {
    width: 81%;
    font-size: 17px !important;
    font-family: font1 !important;
    color: white !important;
    line-height: 24px !important;
    background: transparent !important;
}

.Examination img.questionImg {
    height: 147px;
    width: 180px;
    border: solid 5px gray;
}

.Examination .timerTitle {
    margin-right: 16px;
}

.Examination .checkUps {
    margin-top: 43px;
    margin-left: 1px;
}

.Examination a.previous img {
    width: 14px;
    height: 12px;
}

.Examination .status {
    background: white;
    border-radius: 50%;
    padding: 6px 2px;
    color: #84BB29 ;
    font-family: font2;
    display: block;
    margin-bottom: 20px;
}

.Examination .selectedOption {
    background: #84BB29  !important;
    color: white !important;
}

.reportModalClass .modal-header h5 {
    text-align: center !important;
    font-family: font2;
}

.Examination .push3 {
    margin-left: 1px;
}

.Examination .push2 {
    margin-top: 28px;
}

.Examination .push4 {
    width: 86%;
}


@media screen and (max-width: 768px) {
    .Examination {
        padding: 155px 20px 20px 20px;
    }

    .Examination .gh {
        width: 100% !important;
        text-align: center !important;
    }

    .Examination .badgeSection {
        margin-left: 0px;
    }

    .Examination .push33 {
        margin-top: 8px;
    }

    .Examination .p3 {
        margin-top: 0px;
    }

    .Examination .p4 {
        margin-top: 30px;
    }

    .Examination .afterNav {
        padding-left: 15px;
    }

    .Examination .categoryBadge {
        margin-right: 0px;
        margin-bottom: 9px;
        display: block;
        margin-left: 0px;
        font-size: 14px;
        width: 100%;
        padding: 7px 11px;
    }

    .Examination .headingOne {
        font-size: 15pt;
        margin-bottom: 10px;
    }

    .Examination .headingTwo {
        margin-bottom: 10px;
        display: block;
    }

    .Examination .push4 {
        width: 100%;
    }

    .Examination .beforeReport {
        margin-top: 16px;
        width: 100%;
        margin: auto;
    }

    a.report,
    .previous,
    .skip {
        margin-bottom: 8px;
        display: inline-block;
        width: 100%;
        font-size: 11px;
        padding: 4px 10px;
    }

    a.skip,
    a.previous {
        margin-left: 0px;
        text-align: left;
    }

    .Examination .myQuestion {
        padding: 6px 14px;
        width: 100% !important;
        font-size: 14px;
    }

    .Examination a.skip {
        background: #fabf61 !important;
        margin-left: 0px;
        text-align: center;
        margin-left: 0px;
    }

    .Examination a.previous {
        text-align: center;
    }

    .Examination .partOne {
        padding-right: 15px;
    }

    .Examination .afterReport {
        padding-right: 0px;
    }
    .beforeReport img {
        margin-top: -4px;
    }
    .Examination .questionImgSection, .Examination .questionSection, .questionSection span, .questionSection p {
        width: 90% !important;
        font-size: 15px !important;      
    }
}