#contentPageFirstSection {
  height: calc(100vh + 26px);
  width: 100%;
  margin-top: -80px;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

#contentPageFirstSection h1 {
  position: absolute;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  font-family: font2;
  font-size: 97px;
}

#contentPageFirstSection .subHead {
  position: absolute;
  bottom: 20%;
  left: 120px;
  height: 50px;
  font-size: 35px;
  font-weight: 400;
  font-family: font2;
  margin-bottom: 10px;
}

#contentPageFirstSection .subHeadTwo {
  position: absolute;
  bottom: 15%;
  left: 120px;
  height: 50px;
  width: 300px;
  font-size: 20px;
  font-family: font3;
}

#contentPageSecondSection .term_item_left_top {
  font-size: 14px;
  padding: 1px 5px;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 900px) {
  #contentPageFirstSection {
    height: 500px;
  }

  #contentPageFirstSection h1 {
    bottom: 40%;
    left: 5%;
    transform: translateX(-0%);
    font-size: 50px;
    line-height: 50px;
  }

  #contentPageFirstSection .subHead {
    height: 30px;
    bottom: 15%;
    font-size: 20px;
    left: 20px;
  }

  #contentPageFirstSection .subHeadTwo {
    bottom: 9%;
    font-size: 16px;
    left: 20px;
  }
}

#contentPageSecondSection {
  padding: 40px 120px;
  background-color: black;
  color: white;
}

#contentPageSecondSection .container-fluid {
  margin: 0px;
  padding: 1px;
}

#contentPageSecondSection .right1 {
  min-height: 100px;
  box-sizing: border-box;
  text-align: left;
}

#contentPageSecondSection .right.col-md-7 {
  padding: 0;
}

#contentPageSecondSection .right_para {
  font-size: 17px;
  font-weight: 300;
}

#contentPageSecondSection .red_text {
  font-size: 16px;
  font-weight: 300;
  color: #ff5b5b;
  font-family: font3;
}

#contentPageSecondSection .left {
  padding: 10px;
  box-sizing: border-box;
  font-size: 17px;
}

#contentPageSecondSection .right_head {
  display: flex;
  padding: 10px 0;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 10px;
}

#contentPageSecondSection .right_head h4 {
  color: #84BB29;
  margin: 0;
  margin-right: auto;
  font-size: 28px;
  font-family: font2;
}

#contentPageSecondSection .right_head span {
  border: solid 1px;
  padding: 0px 10px;
  margin: 0 20px;
}

#contentPageSecondSection .right_head p {
  font-size: 20px;
}

#contentPageSecondSection .left_key {
  color: grey;
}

@media screen and (max-width: 900px) {
  #contentPageSecondSection .row {
    margin: 0px;
  }

  #contentPageSecondSection .details {
    padding: 20px;
  }

  #contentPageSecondSection .right {
    flex: 0 0 100%;
  }

  #contentPageSecondSection .left {
    flex: 0 0 100%;
    font-size: 15px;
  }

  #contentPageSecondSection .right_head {
    width: 100%;
  }

  #contentPageSecondSection .right_head h4 {
    font-size: 20px;
  }

  #contentPageSecondSection .right_para {
    text-align: center;
    font-size: 15px;
  }
}

#contentPageSecondSection .terms {
  position: relative;
  border-bottom: none;
}

#contentPageSecondSection .term {
  margin-top: 30px;
  margin-bottom: 70px;
  /* display: none; */
}

#contentPageSecondSection .term_head {
  padding: 9px 31px;
  font-family: font2;
  border-radius: 5px;
  background-color: #fff;
  color: #433f3f;
}

#contentPageSecondSection .term:first-of-type {
  display: block;
}

#contentPageSecondSection .term_item {
  width: 100%;
  padding: 0px;
  align-items: center;
  position: relative;
  margin: 0px;
  border-bottom: 0.5px solid darkslategray;
}

#contentPageSecondSection .term_item:last-child .term_item_see_more {
  display: flex;
}

#contentPageSecondSection .term_item_see_more {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: rgba(39, 38, 38, 0.5);
  border: 2px solid rgba(229, 229, 229, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  display: none;
}

#contentPageSecondSection .term_item_see_less {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: rgba(39, 38, 38, 0.5);
  border: 2px solid rgba(229, 229, 229, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  display: none;
}

@media screen and (max-width: 900px) {
  #contentPageSecondSection .terms {
    padding-bottom: 50px;
  }

  #contentPageSecondSection .term {
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  #contentPageSecondSection {
    padding: 5px;
  }
}

.teacher-assign-content-green {
  padding: 5px;
  background-color: #84BB29;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 900px) {
  #contentPageSecondSection .details {
    padding: 0px !important;
  }

  #contentPageSecondSection .right_para {
    text-align: left;
  }

  .term_item .accordion-button {
    text-align: left;
    font-size: 14px;
  }
}
