#accept-request {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  margin-top: -78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../assets/img/sample.jpg");
}
#accept-request h1 {
  font-family: font2;
  color: #ffffff;
  margin-bottom: 30px;
}
#accept-request button {
  border: none;
  padding: 20px 40px;
  background-color: #84BB29 ;
  color: #ffffff;
}
