.examInstructions {
    padding: 55px 90px 90px 90px;
    background: black;
}
.examInstructions .afterNav{
    padding-left: 48px; 
}
.examInstructions .headingOne {
    text-align: center;
    margin-bottom: 50px;
    font-family: font2;
    color: white;
}
#examInstruction2 .examLogo {
    width: 236px;
    height: 191px;
    margin: auto;
    display: block;
    object-fit: contain;
}
#examInstructions hr {
    background: white;
}
#examInstruction3, #examInstruction4 {
    padding: 37px 170px;
    color: white;
}
#examInstruction4{
    padding: 20px 170px;
    font-size: 17px;
}
#examInstruction3 img {
    width: 30px;
    height: 30px;
    margin-top: -6px;
    margin-right: 7px;
}
#examInstruction3 .rr {
    margin-top: 30px;
}
#examInstruction5 a {
    color: grey !important;
    background: white !important;
    padding: 10px 65px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 38px;
}

@media screen and (max-width: 768px) {
    .examInstructions {
        padding: 100px 20px 20px 20px;
        margin-top: 0px;
    }
    #examInstruction2 .examLogo {
        width: 194px;
        height: 151px;        
    }
    #examInstruction3, #examInstruction4 {
        padding:17px;   
        font-size: 14px;      
    }
    #examInstruction3 .right {
       text-align: left !important;    
    }
    #examInstruction4 {
       margin-top: -20px;    
    }
    #examInstruction5 a {
        padding: 8px 51px;      
        margin-top: 21px;
    }
    #examInstruction3 .rr {
        margin-top: 0px;
    }
}