/* #classes {
  background-color: black;
  margin-top: -90px;
  padding: 175px 27px;
  color: white;
  overflow: hidden;
} */
.classes1 {
  background-color: black;
  margin-top: -90px;
  padding: 176px 27px !important;
  color: white;
  overflow: hidden;
}
#classes .firstSection h3,
#classes .heading {
  font-family: font2;
}

#classes .firstSection .myclasses div {
  padding-left: 0px;
  font-size: 14px;
  font-family: font1;
  border-left: solid 0.5px;
  color: #E3E3E3;
  margin-bottom: 11px;
  padding-left: 15px;
}

#classes .firstSection .partTwo {
  margin-left: -70px;
  margin-top: 6px;
  margin-bottom: 33px;
}

#classes .drop:hover .dropDownContent {
  display: block;
}

#classes .drop:hover+button {
  display: none !important;
}

/* #classes .dropDownContent {
  display: none;
  position: absolute;
  top: 0px;
  left: 14px;
  width: 310px;
  z-index: 3;
  -webkit-animation: moveDown .5s ease-in-out;
    animation: moveDown .5s ease-in-out;
} */
#classes .dropDownContent {
  display: none;
  position: relative;
  top: -235px;
  left: 14px;
  width: 310px;
  z-index: 9;
  animation: moveDown .5s ease-in-out;
  height: 60px;
}

#classes .slick-prev,
.slick-next {
  display: block !important;
  width: 22px;
  height: 22px;
  padding: 0px !important;
  cursor: pointer;
  z-index: 100;
}

#classes img.subjectImage {
  border-radius: 5px;
  width: 191px;
  height: 127px;
  object-fit: cover;
  object-position: top;
}

#classes .secondSection {
  margin-bottom: 15px;
}

#classes img.subjectImage1 {
  border-radius: 5px 5px 0px 0px;
  width: 310px;
  height: 162px;
  object-fit: cover;
  object-position: top;
}

#classes .box {
  background: rgb(5, 5, 5);
  padding: 23px;
}

#classes img.subjectImage2 {
  width: 35px;
  height: 35px;
  margin-right: 19px;
  display: inline-block;
}

#classes .description {
  margin-top: 11px;
  font-size: 15px;
  color: #26AA76;
  font-family: font3;
}

#classes .description1 {
  margin-top: 11px;
  font-family: font3;
}

#classes .box2 {
  border: solid 0.4px gray;
  padding: 0px 9px;
  margin-right: 7px;
}

#classes .slick-slider {
  width: 100%;
}

#classes .slick-list {
  overflow: visible;
}

#classes .slick-prev {
  left: -8px;
}

#classes .slick-next {
  right: -8px;
}

@media screen and (max-width: 768px) {
  #classes {
    padding: 50px 20px;
    margin-top: -290px;
    padding-top: 296px;
  }

  #classes img.subjectImage {
    width: 100%;
    height: 165px;
  }

  #classes img.subjectImage1 {
    width: 100%;
    height: 150px;
  }

  #classes .dropDownContent {
    width: 291px;

  }

}