.modal-dialog.subjectBoxClass {
  max-width: 55%;
}

.subjectBoxClass .modal-header {
  border-bottom: none !important;
}

.subjectBoxClass .modal-header .close {
  z-index: 4;
  color: whitesmoke;
}

.subjectBoxClass .modal-body {
  margin-top: -64px;
  padding: 0px;
}

.subjectBoxClass .modal-content {
  background-color: #000;
  color: #fff;
}

.subjectBoxClass img.subjectImage {
  height: 340px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  opacity: 0.6;
}

.subjectBoxClass h1 {
  font-family: font2;
}

.subjectBoxClass .imageText {
  padding: 0px 31px;
  margin-top: -133px;
  margin-bottom: 29px;
}

.subjectBoxClass .playButton {
  background: white;
  padding: 5px 19px;
  color: black;
  border-radius: 3px;
}

.subjectBoxClass .contentSection {
  padding: 34px 50px;
  font-family: font1;
}

.subjectBoxClass .title {
  color: #84BB29;
  font-family: font2;
  font-size: 25px;
}

.subjectBoxClass .borderAll {
  border: solid 0.4px gray;
  padding: 0px 9px;
  margin-right: 7px;
}

.subjectBoxClass .push2 {
  margin-top: 20px;
  padding-right: 20px;
}

.subjectBoxClass .details {
  padding-left: 0px;
  text-align: right;
  font-size: 13px;
}

.subjectBoxClass .title1 {
  color: #433F3F;
  text-align: left;
}

.subjectBoxClass h5 {
  margin-top: 30px;
  margin-bottom: 2px;
}

.subjectBoxClass img.thumbnail {
  height: 99px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px 5px 0px 0px;
}

.subjectBoxClass .lessonBox {
  padding: 5px 8px;
}

.subjectBoxClass .title3 {
  margin-bottom: 20px;
}

.subjectBoxClass .bottomBorder {
  border-bottom: solid 0.5px gray;
  padding-bottom: 19px;
  margin-top: 20px;
}

.subjectBoxClass .arrowBox {
  padding: 3px 10px;
  background: #272626 50%;
  border: 0.5px solid #E5E5E5;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .modal-dialog.subjectBoxClass {
    max-width: 100%;
  }

  .subjectBoxClass img.subjectImage {
    height: 226px;

  }

  .subjectBoxClass .contentSection {
    padding: 30px 25px;
    font-family: font1;
    font-size: 15px;
  }

  .subjectBoxClass .push2 {
    padding-right: 1px;
    font-size: 15px;
  }

  .subjectBoxClass img.thumbnail {
    height: 128px;
  }

  .subjectBoxClass .title3 {
    margin-top: 20px;
  }

  .subjectBoxClass .lessonBox {
    padding: 7px 8px;
    margin-bottom: 8px;
    display: block;
  }

  .subjectBoxClass .imageText {
    padding: 0px 17px;
    margin-top: -117px;
    margin-bottom: 7px;
  }
}