#homepage .bannerSection {
    height: calc(120vh);
    background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0)), url('../../../../assets/img/bg4.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -115px;
    color: white;
    padding-top: 150px;
}

.accordion-button::after {   
    background-image: url("../../../../assets/img/whiteArrowDown.png");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../../../../assets/img/whiteArrowDown.png");

    transform: rotate(180deg);
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent;
    outline: 0;
    box-shadow: 0 0 0 0.25rem transparent;
}

#homepage .bannerSection>.row {
    position: relative;
    z-index: 2;
}

#homepage .bannerSection h1 {
    font-family: font2;
    font-size: 3.124rem;
    text-align: center;
    margin-bottom: 5px;
}

#homepage .bannerSection h4 {
    text-align: center;
    font-size: 1.3rem;
}

#homepage .bannerSection h3 {
    height: 80px;
}

#homepage .bannerSection .box {
    padding: 110px 0px;
}

#homepage .bannerSection img.scroll {
    width: 38px;
    margin-top: -10px;
    height: 44px;
}

#homepage .afterBanner {
    background: black;
    color: white !important;
    position: relative;
}

.landingPageAdd p {
    font-size: 17px;
}

.landingPageAdd .headingThree {
    margin-top: 10px;
    margin-bottom: 80px;
}

.landingPageAdd .row2 {
    padding: 10px;
}

.landingPageAdd svg {
    font-size: 29px;
    color: #84BB29;
}

.landingPageAdd h5 {
    font-family: font2;
    font-size: 23px;
}

.landingPageAdd .push {
    margin-top: 20px;
}

.landingPageAdd img.imageCenter {
    width: 84%;
    margin: auto;
    margin-top: auto;
    margin-top: auto;
    display: block;
    margin-top: 20px;
    height: 195px;
    object-fit: contain;
}

.landingPageAdd img.myIcon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    object-position: top;
}

.hOne {
    text-align: center;
    margin-bottom: 70px !important;
    margin-top: -20px;
}

#homepage ul {
    margin: 0;
    padding: 0;
}

#homepage ul li {
    list-style: none;
}

#homepage a.myPlaceholder {
    background: white !important;
    width: 100%;
    display: block;
    padding: 15px 28px;
    color: #787878 !important;
    border-radius: 5px 0px 0px 5px;
    margin-top: 12px;
    height: 53px;
}

#homepage .push88 {
    margin-top: 80px;
}

#homepage .timer {
    display: inline-block;
}

#homepage .courseName {
    border: solid white 0.5px;
    padding: 1px 3px;
    color: white;
}

#homepage .resumePlaying p {
    margin-top: 10px;
}

#homepage .topTen {
    padding: 5px;
}

img.rolesLoader {
    width: auto;
}

.trendingModalClass .modal-content {
    padding: 0px;
    background-color: white;
    color: #222222;
}
.trendingModalClass .downloadMobile .col-1 img {
    width: 25px;
    margin-top: 3px;
}
.trendingModalClass .downloadMobile .col-6 img {
    width: 60%;
    text-align: center;
    display: block;
    margin: auto;
}

.trendingModalClass .downloadMobile {
    padding: 33px 0px;
    font-size: 18px;
}
.trendingModalClass .downloadMobile .myRow {
    margin-bottom: 20px;
}
.trendingModalClass .downloadMobile .head1 {
    text-align: center;
    font-family: font2;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
}
.trendingModalClass .downloadMobile .myRow1 {
    text-align: center;
    display: block;
}
.trendingModalClass p {
    padding: 40px;
}
.modal-dialog.trendingModalClass {
    max-width: 828px;
    margin: 1.75rem auto;
}
.trendingModalClass .modal-title {   
    text-align: center;
    width: 100%;
    color:#222222;
    font-weight: bold;
}
.trendingModalClass .paymentBox {
    margin: 50px 0px;
    padding: 29px 40px;
    border-radius: 8px;
    box-shadow: 0 .5pt 10pt rgba(0,0,0,.1);
}
.trendingModalClass .paymentBox img {
    margin-bottom: 16px;
}
.trendingModalClass .paymentBox h3, .trendingModalClass .paymentBox h5 {
    padding: 4px 56px;
}
.trendingModalClass .paymentBox a {
    display: block;
    background: #84BB29 !important;
    padding: 6px;
    color: white !important;
    border-radius: 5px;
    margin-bottom: 8px;
}
.trendingModalClass .paymentBox a.activeButton {
    border: solid 0.5px #222222;
    background: white !important;
    color: #222222 !important;
}
.trendingModalClass .modal-footer {
    padding: 0.4rem 1rem;
    text-align: center;
    display: block;
}
.trendingModalClass .btn-primary {
    background-color: #84BB29;
    border-color: #84BB29;
}
.trendingModalClass .modal-body {
    padding: 0px;
}

#homepage .react-countdown .digit {
    font-size: 78px;
}

#homepage .react-countdown .text {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px;
}

#homepage .react-countdown li::after {
    font-size: 55px;
}

#homepage .react-countdown {
    margin-left: -8px !important;
}

#homepage .afterBanner>.row {
    border-top: solid 9px #222;
    padding: 100px 59px;
    padding: 100px 104px;
}

#homepage h1 {
    font-family: font2;
    margin-bottom: 17px;
}

#homepage img.bigThing {
    width: 386px;
    display: block;
    margin-top: -30px;
    height: 268px;
    object-fit: contain;
}

#homepage img.classnote {
    object-fit: fill;
}

#homepage input[type="email"] {
    width: 100%;
    padding: 15.1px 13px;
    border: none;
    margin-bottom: 12px;
    margin-top: 12px !important;
    border-radius: 5px 0px 0px 5px;
    height: 53px;
}

.profile img.profileImg {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.profile .box {
    padding: 15px 10px 0px 10px;
    font-size: 15px;
}
.homeImage img {
    height: 154px;
    object-fit: cover;
    object-position: top;
}
.profile {
    background: #333;
    display: block;
    border-radius: 5px 5px 5px 5px;
    color: white;
}

a.myButton {
    background: #84BB29 !important;
    color: white !important;
    padding: 8px 4px;
    text-align: center;
    width: 78% !important;
    display: inline-block;
    margin-top: 0px;
    border-radius: 30px;
    border: solid 6px #666;
    position: relative;
    bottom: -18px;
}

.profile h4 {
    text-align: center;
    padding: 4px;
}

.fourProfiles .col-md-3 {
    padding: 5px;
}

.fourProfiles .col-10 {
    padding-left: 1px;
}

.profile .bulletRow {
    padding: 0px 11px;
    margin-bottom: 5px;
}

#homepage input[type="submit"] {
    background: #84BB29;
    color: white;
    border-radius: 0px 5px 5px 0px;
    font-size: 17px;
    width: 100%;
    padding: 14.4px 13px;
    border: none;
    margin-top: 12px;
    height: 53px;
}

#homepage .supporter img {
    width: 152px !important;
    height: 119px;
    object-fit: contain;
}

#homepage .supporter .slick-arrow {
    display: none !important;
}

#homepage .supporter .col-md-10 {
    background: white;
    padding: 10px 20px;
    border-radius: 40px;
}

#homepage .courseSelectSection {
    margin-top: 50px;
}

#homepage img.downArrow {
    position: absolute;
    right: 26px;
    top: 21px;
}

#homepage .card {
    background-color: #303030;
    margin-bottom: 3px;
}

[data-toggle="collapse"] h5:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

[data-toggle="collapse"].collapsed h5:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#homepage ul.courseSelectSectionDropDown {
    background: white;
    color: #787878 !important;
    border-radius: 0px 0px 5px 5px;
    margin-top: -5px;
    display: none;
    /* -webkit-animation: moveDown .5s ease-in-out;
    animation: moveDown .5s ease-in-out; */
}

#homepage .myDrop:hover .courseSelectSectionDropDown {
    display: block;
}

#homepage ul.courseSelectSectionDropDown li {
    padding: 6px 27px;
}

#homepage ul.courseSelectSectionDropDown li a {
    display: block;
}

#homepage ul.courseSelectSectionDropDown li:hover {
    background: #84BB29;
    color: white;
}

#homepage a.startLearning {
    background: #84BB29 !important;
    border-radius: 10px;
    color: white !important;
    padding: 10px 28px;
    text-align: center;
}

#homepage .slick-dots {
    display: none !important;
}

#homepage h3 {
    margin-bottom: 30px;
}

#homepage .green {
    color: greenyellow;
}

#homepage h2.green {
    font-size: 48px;
}

#homepage img.iconSet {
    width: 63px;
    height: 67px;
    border: none;
    object-fit: contain;
}

#homepage .students h5 {
    color: #a8a8a8;
}

#homepage .students .push {
    margin-bottom: 60px;
}

#homepage .students h3 {
    margin-bottom: 0px;
    padding-right: 57px;
}

#homepage .students p {
    font-size: 13px;
    line-height: 28px;
    color: #a8a8a8;
    margin-top: -6px;
    margin-left: 1px;
}

#homepage .slick-slider {
    width: 100% !important;
}

#homepage .mobile .partOne img {
    width: 193px;
    object-fit: contain;
    height: 57px;
    border: solid 0.5px gray;
    border-radius: 7px;
}

#homepage .mobile .push2 {
    margin-top: 60px;
}

#homepage .appreciation p {
    font-family: font1;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #d6d1d1;
    padding: 0px 146px;
}

#homepage img.photo {
    width: 73px;
    border: none;
    margin: auto;
    display: block;
    object-fit: contain;
    object-position: top;
}

#homepage .appreciationName {
    text-align: center;
    display: block;
    /* margin-top: -54px;
    margin-left: -195px; */
    color: #84BB29;
}

#tsparticles {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    left: 0px;
    overflow: hidden;
    top: 0px;
}

#homepage .accordion-button::after {
    width: 1.2rem;
    height: 1.2rem;
}

#homepage .accordion-button:not(.collapsed) {
    border-bottom: solid 1px black !important;
}

@media screen and (max-width: 768px) {
    .trendingModalClass .paymentBox {
        margin: 0px;
        padding: 20px 3px;
        border-radius: 8px;
        box-shadow: 0 .5pt 10pt rgba(0,0,0,.1);
    }
    .trendingModalClass .paymentBox h3, .trendingModalClass .paymentBox h5 {
        padding: 4px 23px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }

    #homepage .shiftVideo {
        margin-top: 37px;
    }

    #homepage .bannerSection .box {
        padding: 135px 20px 50px 20px;
    }

    /* #homepage .bannerSection {
        margin-top: -288px;
        padding-top: 263px;
        height: 135vh;
    } */

    #homepage .bannerSection h1 {
        font-size: 27px;
    }

    #homepage .bannerSection h3 {
        height: 85px;
        font-size: 18px;
    }

    #homepage .bannerSection h4 {
        text-align: center;
        font-size: 1rem;
    }

    #homepage .bannerSection h5 {
        font-size: 16px;
    }

    .landingPageAdd {
        padding: 10px 20px;
    }

    .landingPageAdd .row2 {
        padding: 3px 4px;
    }

    .landingPageAdd svg {
        font-size: 20px;
        margin-top: 2px;
    }

    .landingPageAdd h5 {
        font-family: font2;
        font-size: 17px;
    }

    .landingPageAdd img {
        margin-bottom: 32px !important;
    }

    #homepage input[type="email"] {
        padding: 14.6px 6px;
        font-size: 11px;
        margin-top: 12px !important;
    }

    #homepage input[type="submit"] {
        padding: 16.2px 6px;
        font-size: 13px;
        margin-top: 12px !important;
    }

    #homepage input.lastbee {
        font-size: 9px !important;
        padding: 16.2px 2px !important;
    }

    #homepage .students img {
        width: 28%;
        margin: auto;
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    #homepage .afterBanner>.row {
        padding: 50px 20px;
    }

    #homepage h1 {
        font-size: 27px;
        margin-top: 6px !important;
    }

    #homepage .students h3 {
        padding-right: 0px;
    }

    #homepage .students .col-md-8 {
        text-align: center;
    }

    #homepage .students .push {
        margin-bottom: 5px;
    }

    #accordionEx h5 {
        font-size: 16px;
    }

    #accordionEx .card-body {
        font-size: 14px;
    }

    #homepage h3 {
        font-size: 17px;
    }

    .trendingModalClass .downloadMobile .col-11 {
        margin-left: 18px;
    }

    #homepage .react-countdown .digit {
        font-size: 35px;
    }

    #homepage .react-countdown li::after {
        font-size: 21px;
        right: -13px;
    }

    #homepage img.bigThing {
        width: 100%;
        margin-top: 18px;
        height: 160px;
    }

    #homepage img.other {
        margin-top: 0px;
        margin-bottom: 18px;
    }

    #homepage .students h4 {
        margin-bottom: 50px;
    }

    #homepage .mobile .partOne img {
        width: 107px;
        height: 49px;
    }

    #homepage .mobile .push2 {
        margin-top: -13px;
    }

    #homepage .appreciation p {
        font-size: 17px;
        line-height: 26px;
        padding: 2px 9px;
    }

    #homepage img.photo {
        width: 67px;
        height: 67px;
    }

    /* #homepage .appreciationName {
        margin-top: 4px;
        margin-left: 5px;
    } */

    #homepage .afterBanner>.row {
        padding: 50px 20px;
    }

    a.myPlaceholder {
        padding: 14px 17px !important;
    }

    #homepage img.downArrow {
        top: 23px;
        width: 15px;
        right: 10px;
    }

    #homepage .accordion-body {
        font-size: 13px !important;
    }

    .hOne {
        margin-bottom: 50px !important;
    }

    .landingPageAdd .paddingLeftOff {
        padding-left: 30px !important;
    }

    .students .paddingLeftOff {
        padding-left: 15px !important;
    }

    #homepage .supporter img {
        margin: auto;
        display: block !important;
    }

    .profile {
        margin-bottom: 60px;
    }

    .profile img.profileImg {
        height: 136px;
    }

    a.myButton {
        padding: 6px 4px;
        margin-top: 18px;
    }
    img.downloadMobileHeader {
        width: 35%;
    }
}