/* .container-fluid {
  padding: 10px;
} */
.term_item .accordion-button:not(.collapsed)::after {
  color: white;
  background-color: transparent;
}
.term_item .accordion-button {
  padding: 1rem 0;

  color: white;
}
.term_item .mark-done {
  margin-right: 20px;
}
.term_item .float-end {
  margin-left: auto;
}
.term_item .color-green {
  color: #26aa76;
}
.term_item .bg-green {
  background-color: #26aa76;
}
.term_item .mr-10 {
  margin-right: 10px;
}
.term_item .accordion-button::after {
  margin-left: 20px;
.thumb4 {
  padding: 2px 37px 10px 21px;
}
.term_item .accordion-button:focus {
  z-index: 3;
  border-color: black;
  outline: 0;
  box-shadow: none;
}
.term_item .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.term_item {
  width: 100%;
  padding: 0px 30px;
  align-items: center;
  position: relative;
}
.player-wrapper {
  border-radius: 10px;
  background-color: grey;
  padding: 5px;
  margin: 10px 0;
  padding-bottom: 0;
}
.quizButton {
  margin-bottom: -4.5px;
  display: block;
  width: 100%;
}
.lesson-list:last-of-type .term_item_see_more {
  display: flex;
}
.term_item svg {
  margin-left: 10px;
  margin-top: -2px;
}

.term_item_see_more {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
  background: rgba(39, 38, 38, 0.5);
  border: 2px solid rgba(229, 229, 229, 0.5);
  box-sizing: border-box;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-align: center;
  display: none;
}
.term_item_right {
  width: 90%;
  height: 179px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #201e1e;
}
.term_item_right img {
  height: 70%;
  width: 100%;
}
.term_item_left_top {
  font-size: 20px;
  margin-bottom: 30px;
}
.term_item_left_bottom {
  align-items: center;
}
.term_item_left_bottom_item {
  display: inline-block;
  border: 1px solid #a8a8a8;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.term_item_left_bottom_item button {
  border: none;
  display: inline-block;
  background-color: transparent;
  color: white;
  font-size: 13px;
}
@media screen and (max-width: 900px) {
  .term_item_right {
    margin-bottom: 20px;
  }
  .term_item {
    padding: 0px 10px;
  }
  .term_item .accordion-item {
    padding: 0px;
  }
  .term_item .mark-done {
    margin-right: 15px;
  }
  .block-900 {
    display: block;
  }
}
