.take-action-pop-up.modal-body {
  position: relative;
  text-align: center;
  background-color: #fff;
  min-height: 200px;
  width: 100%;
  min-width: 100px;
  padding: 30px;
  margin: auto;
  border-radius: 16px;
}
.take-action-pop-up .close-take-action-pop-up {
  position: absolute;
  top: 10px;
  right: 10px;
}
.take-action-pop-up h3 {
  font-weight: 700;
  margin: 20px 0;
  color: #313131;
  font-family: font1;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
}
.take-action-pop-up p {
  font-family: font2;
  font-style: normal;
  font-size: 18px;
  color: #000000;

  line-height: 21px;
}
.take-action-pop-up span {
  font-family: font2;
  font-style: normal;
  font-size: 14px;
  color: rgba(21, 25, 32, 0.5);
  line-height: 20px;
  display: block;
}
.take-action-pop-up button {
  margin:  10px;
  background: #84bb29;
  border-radius: 8px;
  padding: 6px 16px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}
.take-action-pop-up .cancel-button {
  background: transparent;
  border: 1px solid rgba(86, 103, 137, 0.26);
  color: rgba(21, 25, 32, 0.5);
}
