#classroomStudentSectionOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)),
    url("../../../../assets/img/classroomStudentOne.png");
  height: 600px;
  margin-top: -320px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#classroomStudentSectionTwo {
  width: 100%;
  background-color: black;
  position: relative;
  color: white;
  font-family: font3;
}
#classroomStudentSectionTwo .circle {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(140%, -69%);
  width: 178px;
  height: 178px;
  background: transparent;
}
#classroomStudentSectionTwo .ellipse {
  position: absolute;
  top: -10%;
  left: 0;
}
#classroomStudentSectionTwo .woman {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -60%);
}
@media screen and (max-width: 900px) {
  #classroomStudentSectionTwo .circle {
    left: 50%;
    transform: translate(-50%, -69%);
  }
}
#classroomStudentSectionTwo .tab {
  position: absolute;
  top: 0;
  right: 10%;
  width: 57%;
  height: 40px;
  transform: translateY(-100%);
}
#classroomStudentSectionTwo .nav-tabs {
  border-bottom: none;
}
#classroomStudentSectionTwo .nav-tabs .nav-link {
  border: none;
  font-size: 17px;
  padding: 7px 0 !important;
}
#classroomStudentSectionTwo .tab-nav-item {
  cursor: pointer;
  margin-right: 20px;
  margin-left: 5px;
}
#classroomStudentSectionTwo .tab-nav-item-1 {
  border-bottom: 4px solid #26aa76;
}
@media screen and (max-width: 1200px) {
  #classroomStudentSectionTwo .tab {
    position: relative;
    width: 100%;
    top: 100px;
    right: unset;
  }
}
#classroomStudentSectionTwo .content-section {
  width: 90%;
  margin: auto;
  padding: 10px;
  top: 75px;
  padding-bottom: 100px;
  position: relative;
  min-height: 500px;
}
@media screen and (max-width: 1200px) {
  #classroomStudentSectionTwo .content-section {
    width: 100%;
  }
}
#classroomStudentSectionTwo .announcements {
  display: flex;
  padding-left: 100px;
  justify-content: center;
}
#classroomStudentSectionTwo .announcements aside {
  flex: 0 0 30%;
  margin-right: 50px;
}
#classroomStudentSectionTwo .announcements main {
  flex: 1;
  min-height: 500px;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
}
#classroomStudentSectionTwo .announcements aside .student-details {
  height: 250px;
  background-color: #333232;
  margin-bottom: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#classroomStudentSectionTwo .announcements aside .student-details .button-p-20 {
  padding: 5px 30px;
}
#classroomStudentSectionTwo .announcements aside .student-details h2 {
  /* font-size: 33px; */
  font-family: font2;
}
#classroomStudentSectionTwo .button-green {
  background-color: #26aa76;
  border-color: #26aa76;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events {
  background-color: #333232;
  border-radius: 5px;
  padding: 20px 30px;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events h4 {
  font-family: font2;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events .item {
  display: flex;
  margin: 20px 0;
  height: 60px;
  align-items: center;
  font-size: 14px;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events .item img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events .item p {
  margin: 5px 0;
}
#classroomStudentSectionTwo .announcements aside .upcoming-events a {
  color: #26aa76 !important;
  text-align: end;
  display: block;
  text-decoration: underline;
}
#classroomStudentSectionTwo .announcements main article {
  height: 70px;
  background-color: #333232;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}
#classroomStudentSectionTwo .announcements main section {
  min-height: 200px;
  background-color: #333232;
  border-radius: 5px;
  padding: 15px;
  padding-bottom: 300px;
}
#classroomStudentSectionTwo .announcements main section .chat-block {
  min-height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  border-radius: 7px;
}
#classroomStudentSectionTwo .announcements main section .chat-block .sender {
  padding: 5px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .sender-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .sender-head
  img:last-child {
  cursor: pointer;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .sender-message {
  margin-top: 20px;
  margin-bottom: 30px;
}
#classroomStudentSectionTwo .announcements main section .chat-block .comments {
  padding: 5px 10px;
  padding-left: 30px;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .comments
  small {
  color: #26aa76;
}
#classroomStudentSectionTwo .announcements main section .chat-block .send {
  padding: 10px;
  margin: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  display: flex;
  align-items: center;
  padding-left: 30px;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .send
  img:first-child {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .send
  .send-input {
  flex: 1;
  height: 40px;
  border: solid 1px rgba(255, 255, 255, 0.28);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .send
  .send-input
  input {
  flex: 1;
  border: none;
  color: rgba(255, 255, 255, 0.28);
  background-color: transparent;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .chat-block
  .send
  .send-input
  img {
  flex: 0 0 25px;
  height: 25px;
  margin: 0;
}
#classroomStudentSectionTwo .announcements main section .notification-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  border: solid 1px rgba(255, 255, 255, 0.28);
  padding: 5px 15px;
  border-radius: 5px;
}
#classroomStudentSectionTwo
  .announcements
  main
  section
  .notification-block
  img:last-child {
  cursor: pointer;
}
@media screen and (max-width: 900px) {
  #classroomStudentSectionTwo .announcements {
    flex-wrap: wrap;
    padding-left: unset;
  }
  #classroomStudentSectionTwo .announcements aside {
    flex: 0 0 100%;
    margin-bottom: 50px;
    margin-right: 1px;
  }
  #classroomStudentSectionTwo .announcements main {
    flex: 1;
  }
  #classroomStudentSectionTwo .announcements main section {
    padding: 0;
  }
  #classroomStudentSectionTwo .announcements main section .chat-block .send {
    padding-left: 15px;
  }
  #classroomStudentSectionTwo
    .announcements
    main
    section
    .chat-block
    .comments {
    padding-left: 15px;
  }
}
.pic-text-heading {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.pic-text-heading img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.pic-text-heading div {
  flex: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pic-text-heading div p {
  margin: 0;
}
.small-grey {
  font-size: 13px !important;
  line-height: 18px;
  font-family: font3;
  color: rgba(255, 255, 255, 0.6);
}
.no-margin {
  margin: 0;
}
#classroomStudentSectionTwo .classwork {
  display: flex;
  /* padding-left: 100px; */
  width: 80%;
  margin: auto;
}
#classroomStudentSectionTwo .classwork nav {
  flex: 0 0 20%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
#classroomStudentSectionTwo .classwork nav .vertical-nav-item {
  margin: 10px 20px;
  padding-left: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.53);
}
#classroomStudentSectionTwo .classwork nav .active {
  border-left: 3px solid #26aa76;
  color: white;
}
#classroomStudentSectionTwo .classwork main {
  flex: 1;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 5px;
}
@media screen and (max-width: 1100px) {
  .no-margin {
    margin: 5px 0;
  }
  #classroomStudentSectionTwo .classwork {
    width: 100%;
    flex-wrap: wrap;
    padding-left: 1px;
  }
  #classroomStudentSectionTwo .classwork nav {
    flex: 0 0 100%;
    margin-right: 1px;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    border-radius: 10px;
  }
  #classroomStudentSectionTwo .classwork nav .vertical-nav-item {
    border: 1px solid;
    padding: 5px;
    border-radius: 100px;
    flex: 0 0 auto;
    margin: 10px;
    cursor: pointer;
  }
  #classroomStudentSectionTwo .classwork nav .active {
    border-color: #26aa76;
    color: #26aa76;
  }
  #classroomStudentSectionTwo .classwork main {
    flex: 1;
  }
}
#classroomStudentSectionTwo .classwork main .class-item {
  margin-bottom: 20px;
}
#classroomStudentSectionTwo .classwork main .class-item h5 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.46);
  padding: 15px 30px;
  color: #26aa76;
  font-family: font2;
}
#classroomStudentSectionTwo .classwork main .class-item .items {
  padding: 0px 30px;
}
#classroomStudentSectionTwo .classwork main .class-item .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  border-radius: 20px;
}
#classroomStudentSectionTwo .classwork main .class-item .item p {
  font-size: 17px;
  margin-bottom: 5px;
}
#classroomStudentSectionTwo .classwork main .class-item .item:hover {
  background-color: rgba(19, 18, 18, 0.835);
}
#classroomStudentSectionTwo .classwork main .class-item div .first-section {
  flex: 0 0 65%;
}
@media screen and (max-width: 600px) {
  #classroomStudentSectionTwo .classwork main .class-item h5 {
    padding: 15px 10px;
  }
  #classroomStudentSectionTwo .classwork main .class-item .items {
    padding: 0px 10px;
  }
  #classroomStudentSectionTwo .classwork main .class-item .item {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 10px;
  }
  #classroomStudentSectionTwo .classwork main .class-item .item .more {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 0;
  }
}
#classroomStudentSectionTwo .people {
  background-color: rgba(255, 255, 255, 0.055);
  min-height: 300px;
  width: 80%;
  margin: auto;
  padding-bottom: 30px;
}
#classroomStudentSectionTwo .people .heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 5px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.46);
}
#classroomStudentSectionTwo .people .heading h5 {
  color: #26aa76;
  font-family: font2;
}
#classroomStudentSectionTwo .people .heading p {
  margin: 0;
}
#classroomStudentSectionTwo .people .pupil {
  display: flex;
  margin: 20px;
  margin-left: 40px;
  align-items: center;
}
#classroomStudentSectionTwo .people .pupil img {
  margin-right: 20px;
}
#classroomStudentSectionTwo .people .pupil p {
  margin: 0;
  font-size: 17px;
}
@media screen and (max-width: 900px) {
  #classroomStudentSectionTwo .people {
    width: 100%;
  }
}
