#pqQuizPageSectionOne {
  background-color: black;
  color: white;
  /* min-height: 500px; */
  padding-top: 300px;
  margin-top: -320px;
  padding-bottom: 50px;
  position: relative;
}
#pqQuizPageSectionOne .full-page-for {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(5, 5, 5);
  opacity: 0.7;
  z-index: 10;
  display: none;
}
#pqQuizPageSectionOne .confirm-submit {
  text-align: center;
  position: fixed;
  z-index: 11;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
  border: 0.5px solid #ffffff;
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.04);
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
#pqQuizPageSectionOne .confirm-submit .top-right {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
#pqQuizPageSectionOne .confirm-submit p {
  margin-bottom: 20px;
}
#pqQuizPageSectionOne .confirm-submit img {
  margin-bottom: 30px;
  display: block;
}
#pqQuizPageSectionOne .confirm-submit div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#pqQuizPageSectionOne .confirm-submit span {
  font-family: font3;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-decoration-line: underline;
  cursor: pointer;
  color: #ff5b5b;
  margin: 20px;
}
#pqQuizPageSectionOne .confirm-submit button {
  border: none;
  padding: 7px 20px;
  border-radius: 100px;
  color: white;
  background-color: #26aa76;
  font-size: 16px;
}
#pqQuizPageSectionOne h4 {
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 47px;
  color: #26aa76;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 70px;
}

#pqQuizPageSectionOne .progress {
  height: 7px;
  width: 420px;
  /* margin: 40px 0; */
  margin-top: 50px;
  margin-bottom: 50px;
}
#pqQuizPageSectionOne .progress-bar {
  background-color: #26aa76;
}
#pqQuizPageSectionOne .left p {
  font-family: font3;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 40px;
}
#pqQuizPageSectionOne .left p span {
  padding: 7px 10px;
  background-color: rgba(117, 239, 156, 0.3);
  margin-left: 20px;
  font-style: normal;
  font-weight: 500;
  color: #26aa76;
  border-radius: 5px;
}
#pqQuizPageSectionOne .left .image {
  text-align: center;
  padding: 20px;
}
#pqQuizPageSectionOne .left .image img {
  height: 150px;
}
#pqQuizPageSectionOne .left h6 {
  font-family: font3;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 34px;
}
#pqQuizPageSectionOne .left .option-button {
  width: 380px;
  height: 44px;
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  border-radius: 10px;

  font-family: font3;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
}
#pqQuizPageSectionOne .left .option-button:hover {
  opacity: 0.7;
}
#pqQuizPageSectionOne .left .option-button:active {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.226);
}
#pqQuizPageSectionOne .left .active {
  background-color: transparent;
  border: solid 1px #26aa76;
  color: white;
}
#pqQuizPageSectionOne .left .action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  margin-top: 20px;
}
#pqQuizPageSectionOne .left .action-buttons button {
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 100px;
  font-family: font1;
  font-style: normal;
  color: white;
}
#pqQuizPageSectionOne .left .action-buttons .skip-button {
  background-color: #fdad51;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 100px;
  font-family: font1;
  font-style: normal;
  color: white;
}
#pqQuizPageSectionOne .left .action-buttons .submit-button {
  background-color: #249d6d;
}
#pqQuizPageSectionOne .right {
  flex: 0 0 47%;
  min-height: 300px;
  padding: 10px;
  box-sizing: border-box;
}
#pqQuizPageSectionOne .right .questions-answered {
  width: 450px;
  margin: auto;
  /* height: 200px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
}
#pqQuizPageSectionOne .right .questions-answered span {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 57px;
  color: #26aa76;
  box-shadow: 0px 1px 0px rgba(225, 225, 225, 0.5);
}
#pqQuizPageSectionOne .right .questions-answered .active {
  color: white;
  background-color: #249d6d;
}
#pqQuizPageSectionOne .right .questions-answered .skipped {
  color: white;
  background-color: #fdad51;
}
@media screen and (max-width: 1020px) {
  #pqQuizPageSectionOne {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  #pqQuizPageSectionOne {
    margin-top: -340px;
  }

  #pqQuizPageSectionOne .confirm-submit {
    /* padding: 10px; */
    width: 300px;
  }
  #pqQuizPageSectionOne .progress {
    width: 320px;
  }
  #pqQuizPageSectionOne {
    flex-wrap: wrap;
  }
  #pqQuizPageSectionOne .left {
    flex: 0 0 100%;
  }
  #pqQuizPageSectionOne .left .option-button {
    width: 320px;
    margin-right: 5px;
  }
  #pqQuizPageSectionOne .right {
    flex: 0 0 100%;
  }
  #pqQuizPageSectionOne .left .action-buttons {
    width: 320px;
    margin-top: 20px;
  }
  #pqQuizPageSectionOne .right .questions-answered {
    width: 320px;
  }
  #pqQuizPageSectionOne .right .questions-answered span {
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 18px;
  }
}

#pqQuizPageSectionTwo {
  display: none;
  min-height: calc(100vh + 320px);
  text-align: center;
  padding: 100px;
  background-color: black;
  color: white;
  padding-top: 400px;
  margin-top: -320px;
}
#pqQuizPageSectionTwo .complete-message {
  width: 50%;
  margin: auto;
}
#pqQuizPageSectionTwo h1 {
  margin-bottom: 40px;
  font-family: font2;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 55px;
  /* identical to box height */

  color: #26aa76;
}
#pqQuizPageSectionTwo h4 {
  font-family: font2;
  font-weight: normal;
  font-size: 25px;
  line-height: 39px;
  text-align: left;
  /* margin: 0; */
  display: block;
  color: #ffffff;
}
#pqQuizPageSectionTwo p {
  font-family: font3;
  font-weight: normal;
  font-size: 20px;
  line-height: 39px;
  /* margin: 0; */
  display: block;
  color: #ffffff;
}
#pqQuizPageSectionTwo .row {
  width: 60%;
  margin: auto;
}
#pqQuizPageSectionTwo img {
  width: 150px;
  transform: translateX(-50%);
}
#pqQuizPageSectionTwo ul {
  margin-top: 20px;
  /* text-align: right; */
  float: right;
}
#pqQuizPageSectionTwo li {
  list-style-type: disc;
  margin-top: 5px;
  text-align: left;
  font-family: font3;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;

  color: #ffffff;
}
#pqQuizPageSectionTwo li:nth-child(1)::marker {
  color: #26aa76;
}
#pqQuizPageSectionTwo li:nth-child(2)::marker {
  color: red;
}
#pqQuizPageSectionTwo li:nth-child(3)::marker {
  color: #fe9923;
}
#pqQuizPageSectionTwo .row2 {
  margin: 5px auto;
  font-family: font3;
  font-style: normal;
  font-size: 15px;
  line-height: 27px;
  color: #ffffff;
}
#pqQuizPageSectionTwo .call-to-action {
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
#pqQuizPageSectionTwo button {
  border: none;
  padding: 15px 40px;
  background-color: #26aa76;
  color: white;
  border-radius: 100px;
  margin: 0;
  margin-bottom: 20px;
}
#pqQuizPageSectionTwo .call-to-action span {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  #pqQuizPageSectionTwo {
    padding: 100px 10px;
    padding-top: 400px;
    margin-top: -320px;
  }
  #pqQuizPageSectionTwo .complete-message {
    width: 90%;
  }
  #pqQuizPageSectionTwo .row2 {
    width: 100%;
  }
  #pqQuizPageSectionTwo .call-to-action {
    justify-content: center;
  }
}
