/* @font-face {
  font-family: "font1";
  src: url("./assets/fonts/Nunito-SemiBold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "font1";
  src: url("./assets/fonts/BakerSignet.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font2";
  src: url("./assets/fonts/BakerSignet.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font3";
  src: url("./assets/fonts/BakerSignet.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font4";
  src: url("./assets/fonts/BakerSignet.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
embed html .freebirdLightBackground,
embed body {
  background: white !important;
}
embed:focus {
  outline: none;
  background: white !important;
}

/* @font-face {
  font-family: 'font2';
  src: url('./assets/fonts/Baloo-Regular-400.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'font3';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */

/* @font-face {
  font-family: 'font4';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
} */
h1,
h2 {
  font-weight: bolder;
}

html,
body {
  font-family: font1 !important;
  overflow-x: hidden;
  padding-right: 0px !important;
}

.absolute {
  position: absolute;
}

.text-white1 {
  font-size: 16px;
  margin-bottom: -14px;
}
.articleText {
  font-size: 17px;
  padding: 30px 15px;
}
img.articleImage {
  margin-top: 15px;
  border-radius: 5px 5px 0px 0px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.relative {
  position: relative;
}

.fullWidth {
  width: 100%;
}

.changePasswordPush {
  margin-top: 40px;
}

.right {
  text-align: right !important;
}

.left {
  text-align: left !important;
}

.center {
  text-align: center;
}

.centerImage {
  margin: auto;
  display: block;
}

.floatLeft {
  float: left;
}

.loading-indicator:after {
  content: url("./assets/img/loading.gif");
  position: fixed;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: 8889;
  color: white;
  text-align: center;
  /* font-weight: bold;
  font-size: 1rem;
  font-family: font2; */
}

.loading-indicator:before {
  content: "";
  background: #000000cc;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 8888;
}

.swal2-validation-message {
  width: 100%;
  text-align: center;
  margin: auto !important;
}

.font2 {
  font-family: font2;
}

.font3 {
  font-family: font3;
}

.font4 {
  font-family: font4;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0rem);
  }
}

.floatRight {
  float: right;
}

*,
*:hover,
*:active,
*:visited {
  outline: none !important;
  user-select: none;
}

input {
  user-select: auto !important;
}

a {
  color: inherit !important;
  text-decoration: none;
  background-color: inherit !important;
}

a:hover {
  text-decoration: none !important;
}

.bottomBorder {
  border-bottom: 0.5px solid darkslategray;
  padding-bottom: 18px;
}

.social button {
  padding: 0;
  background: transparent;
  border: 0;
  width: 100%;
}

.social.google .socialText {
  text-align: left;
}

.social.facebook .socialText {
  text-align: right;
}

.off {
  display: none;
}

.on {
  display: block;
}

.hidden {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.boldFont {
  font-family: font2;
}

.boldFont1 {
  font-family: font3;
}

.swal2-title {
  font-weight: lighter !important;
  font-size: 1.495em !important;
}

.swal2-styled.swal2-confirm {
  background-color: #84bb29 !important;
}

.underline {
  text-decoration: underline;
}
.grey-text {
  color: #a8a8a8;
}

.green {
  color: #84bb29 !important;
}
.grey-border {
  border-color: #a8a8a8 !important;
}
.light-grey-border {
  border-color: #5b5a5a !important;
  border-width: 0.5px;
}
.green-bg {
  background-color: #84bb29;
}

.moveToFront {
  position: relative;
  z-index: 2;
}

img.logo {
  width: 172px;
}

.padOff {
  padding: 0px !important;
}

.paddingLeftOff {
  padding-left: 0px !important;
}

.r-range-slider.horizontal .r-range-slider-label {
  top: -2px !important;
  text-align: right;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.paddingRightOff {
  padding-right: 0px !important;
}

.rs-play,
.rs-play:active {
  background: transparent !important;
  margin-left: 10px;
  border: none !important;
  color: white;
}

.rc-tooltip {
  font-size: 15px !important;
}

.resumePlaying img {
  border-radius: 6px 6px 0px 0px;
}

.mobileOnly {
  display: none !important;
}

.desktopOnly {
  display: block !important;
}

.overlay {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.3;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 10px;
}

.overlayAuth {
  opacity: 0.7;
}

.swal2-content {
  font-size: 1.495em !important;
}

.bg-light {
  background-color: black !important;
  padding: 12px 28px;
  z-index: 20;
  color: white !important;
}

.bg-dark {
  background-color: #FDFDFD !important;
  padding: 12px 28px;
  z-index: 20;
  color: #999 !important;
}

.nav-link {
  padding: 7px 17px !important;
}

.contact {
  background: #84bb29 !important;
  border-radius: 10px;
  color: white !important;
  width: 100px;
  text-align: center;
}

.contact1 {
  margin-right: 21px;
}

.searchIcon {
  width: 22px;
  height: 23px;
}

input.searchBox {
  background: rgba(2, 2, 2, 0.6);
  border: 1px solid #fff;
  box-sizing: border-box;
  color: white;
  padding: 8px 27px 8px 44px;
  margin-top: -8px;
  display: none;
  -webkit-animation: moveDown 0.5s ease-in-out;
  animation: moveDown 0.5s ease-in-out;
  border-radius: 6px;
}

.searchArea ul {
  background: #000000 70%;
  position: absolute;
  top: 41px;
  width: 100%;
  padding: 23px;
  display: none;
  left: 0px;
  border-radius: 10px;
  margin-top: 4px;
  z-index: 9999;
}

.searchArea .searchIcon1 {
  width: 14px;
  height: 14px;
  margin-right: 12px;
  object-fit: contain;
  margin-top: -1px;
}

.searchArea img.searchLoader {
  position: absolute;
  top: 62px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchArea ul li {
  list-style: none;
  font-size: 14px !important;
  padding: 4px 0px;
  font-family: font3;
}

.searchArea:hover input.searchBox,
.searchArea:hover ul {
  display: block;
}

.searchArea:hover .searchIcon {
  position: absolute;
  left: 32px;
  top: 9px;
}

.fly {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34%;
  padding: 40px 30px;
  z-index: 17;
}

.fly .col-md-12 {
  z-index: 99;
}

.optional {
  position: absolute;
  right: 40px;
  top: 33px;
  font-size: 12px;
}

.ourGreen {
  color: #84bb29;
}

select.general,
input.general,
textarea.general {
  width: 100%;
  margin-top: 20px;
  background: rgba(49, 48, 48, 0.9);
  border-radius: 4px;
  padding: 10px 33px;
  border: none;
  color: #938585;
}

input.authSubmit {
  background: #84bb29;
  color: white;
  text-align: center;
  font-weight: bolder;
  margin-top: 38px !important;
}

option {
  font-family: font1 !important;
}

.white {
  color: white !important;
}

.borderLeftOff {
  border-left: none !important;
}

.custom-checkbox .custom-control-label::before {
  margin-top: -3px;
}

.custom-control-label::after {
  top: 0.15rem;
}

.orange {
  color: orangered;
}

.active {
  color: white !important;
  font-weight: bolder;
}

#login form,
#signup form,
#resetPassword form,
#changePassword form {
  padding: 0px;
}

img.dropDownIcon {
  width: 28px;
  margin-top: 2px;
  border-radius: 5px;
  margin-bottom: 3px;
}

img.dropDownIcon1 {
  margin-top: -5px;
}

.dropdown-menu {
  background: #000000 70%;
  min-width: 14rem;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: transparent;
  color: white;
}

.dropdown-item {
  color: white !important;
  font-size: 14px;
}

.attempted {
  background: #84bb29 !important;
  color: white !important;
}

.skipped {
  background: #fabf61 !important;
  color: white !important;
}

.pending {
  background: white !important;
  color: #84bb29 !important;
  box-shadow: 0pt 0.5pt 4pt rgba(0, 0, 0, 0.1);
}

.incorrect {
  background: #e36b6b !important;
}

.mobilePadRightOff {
  padding-right: 0px !important;
}

.shareModalClass.modal-dialog {
  max-width: 345px;
}

.shareModalClass .modal-content {
  background: black;
}

.shareModalClass .modal-header {
  color: white;
}

.shareModalClass ul.share-content {
  list-style: none;
  padding: 0px 20px 35px 20px;
  color: white;
  font-family: font1;
}

.shareModalClass li a {
  display: block;
  padding: 8px 0px;
}

.shareModalClass .modal-header .close {
  color: white;
}
.rc-tooltip {
  line-height: 2;
  font-size: 12px;
  background-color: white !important;
  padding: 1px;
  opacity: 1 !important;
  border-radius: 6px;
}
.rc-tooltip-inner {
  border: none !important;
}

@media screen and (max-width: 768px) {
  .mobileOnly {
    display: block !important;
  }
  img.backButton {
    position: absolute;
    left: 16px !important;
    top: 93px !important;
  }

  .desktopOnly {
    display: none !important;
  }

  .mobilePadOff {
    padding: 0px !important;
  }

  .text-white {
    font-size: 14px;
    text-align: left;
  }

  .navbar-light .navbar-toggler {
    color: white !important;
    border-color: #84bb29;
  }

  .navbar-nav {
    background: black;
    border-radius: 5px;
    padding: 20px;
    /* font-family: Nunito !important; */
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  h1 {
    font-size: 27px;
  }

  h2 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  .contact {
    text-align: left;
    background: transparent !important;
  }

  .ytp-title-channel-logo {
    margin-top: 10px !important;
  }

  /* .fly {
    top: 67%;
    width: 95%;
    padding: 40px 10px;
    margin: auto;
  } */
  .fly {
    width: 100%;
    padding: 40px 10px;
    margin: auto;
    position: relative;
  }

  .bg-light {
    /* background-color: transparent !important; */
    z-index: 20;
    color: white !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 16px 18px;
  }

  input.searchBox {
    margin-top: 6px;
    width: 100%;
  }

  .searchArea:hover .searchIcon {
    top: 23px;
  }

  .mobileCenter {
    text-align: center;
  }

  .swal2-title {
    font-size: 1.475em !important;
  }

  .react-player {
    width: 100%;
    height: auto !important;
    overflow: hidden;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4;
  background-color: transparent;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.padding-30 {
  padding: 30px;
}

.pointer {
  cursor: pointer;
}

.no-wrap {
  white-space: nowrap;
}

select.no-appearance {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  appearance: none;
}

.negative-top {
  margin-top: -90px;
}

@media (min-width: 576px) {
  .text-sm-start {
    text-align: start !important;
  }

  .text-sm-center {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .text-md-start {
    text-align: start !important;
  }
}
.paymentBox a {
  display: block;
  background: #84bb29 !important;
  padding: 6px;
  color: white !important;
  border-radius: 5px;
  margin-bottom: 8px;
}
.paymentBox a.activeButton {
  border: solid 0.5px #222222;
  background: white !important;
  color: #222222 !important;
}
.nunito {
  font-family: Nunito !important;
}
.baloo {
  font-family: "Baloo 2", cursive;
}
.light-font {
  font-weight: lighter;
}
.white-placeholder::placeholder {
  color: white;
}
.white-placeholder::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.sentence {
  text-transform: capitalize !important;
}
.uppercase {
  text-transform: uppercase !important;
}
