#dashboardFirstSection {
  background-image: radial-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.99)), url(/static/media/pencil.9027a403.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: -90px;
  color: white;
  height: calc(105vh);
  padding-top: 180px;
}

#dashboardFirstSection h1 {
  font-family: font2;
  text-align: center;
  font-size: 125px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#dashboardFirstSection .push2 {
  padding: 16px 90px;
}
h6.jj {
  margin-left: 15px;
}

#dashboardSecondSection .push5 {
  margin-top: 30px;
}

#dashboardFirstSection h5 {
  font-family: font2;
  margin-top: 30px;
  margin-left: 5px;
}
.resumePlayingDashboard img {
  border-radius: 6px;
  width: 184px;
  height: 122px;
  object-fit: cover;
  object-position: top;
}
.moreInfo img{
  width: 255px;
  height: 170px;
  border-radius: 8px;
  object-fit: cover;
  object-position: top;
}

.jj .col-md-3, .push3 .col-md-12, #dashboardFirstSection .col-md-12, .subjectList> .col-md-4{
  padding:5px
}
.jj h6 {
  margin-left: 0px;
  padding-left: 0px;
}
.dashboard h4 {
  font-family: font2;
  margin-bottom: 20px;
  margin-left: -11px;
}
.dashboard .recommedtn p{
  margin-bottom: 0px !important;
}
.dashboard .pastQuestionsBox {
  display: block;
  background:#118330;
  padding: 23px;
  border-radius: 22px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.dashboard .pastQuestionsBox1 {
  background:#340067;
}

.dashboard .myChart svg {
  width: 60%;
  margin-top: -25px;
}

.dashboard .subjectList span {
  display: block;
  text-align: center;
  opacity: 0.8;
  border-radius: 5px;
  padding: 6px;
}

.resumePlaying p {
  line-height: 18px;
  margin-top: 8px;
  margin-bottom: 0;
}
.resumePlaying span.mySpan {
  font-size: 14px;
  color: #84BB29;
  display: block;
  margin-top: 0px;
  position: absolute;
  bottom: -22px;
}
/* .resumePlaying {
  margin-bottom: 78px !important;
} */
/* .myTopTen {
  margin-bottom: 63px !important;
} */
.topTen small {
  margin-top: 9px;
  display: block;
  font-size: 90%;
  color: #84BB29;
  margin-bottom: -5px;
}
.dashboard .excel {
  background: #84BB29;
}

.dashboard .average {
  background: #fdad51;
}

.dashboard .belowAverage {
  background: #ff5b5b;
}

.dashboard .noRating {
  background: #908989;
}

.dashboard .push6 {
  margin-top: -4px;
}

.dashboard .push7 {
  margin-bottom: 30px;
}

.dashboard .pastQuestionsBox img {
  height: 67px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.dashboard .pastQuestionsBox p {
  font-size: 12px;
}

.dashboard img.bullet {
  margin-top: -3px;
}
img.downloadMobileHeader{
  width:20%;
}
.dashboard .instructor,
.dashboard .recommendT {
  color: #636060;
}

.dashboard a.view {
  padding: 5px 35px;
  background: #84BB29 !important;
  border-radius: 5px;
}
.dashboard .view {
  padding: 5px 35px;
  background: #84BB29 !important;
  border-radius: 5px;
  border: none;
  color: white;
}

.dashboard .push8 {
  margin-bottom: 6px;
}

.dashboard .push9 {
  padding: 25px 0px;
}

.dashboard .push10 {
  margin-bottom: 47px;
}
small.showAll {
  color: #84BB29;
  margin-left: 40px;
  font-size: 69%;
}

.dashboard .recommend {
  display: block;
  background: rgb(43, 38, 38);
  padding: 34px 20px;
  border-radius: 5px;
}

.dashboard img.recommendImg {
  width: 40px;
  margin: auto;
  display: block;
  height: 40px;
  object-fit: contain;
  object-position: top;
}

#dashboardSecondSection {
  padding: 50px 107px 150px 107px;
  background: black;
  color: white;
  overflow: hidden;
}

#dashboardFirstSection .push3 {
  position: absolute;
  bottom: 20px;
  font-family: font3;
  font-size: 14px;
}

#dashboardSecondSection img.subjectImage {
  margin-bottom: 24px;
}

#dashboardSecondSection .dropDownContent {
  height: 0px !important;
  top: -177px;
}
#dashboardSecondSection .empty-class-state {
  display: flex;
  padding: 70px 100px;
  align-items: center;
}
#dashboardSecondSection .empty-class-state img {
  margin-right: 30px;
}
#dashboardSecondSection .empty-class-state p {
  font-family: font1;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #c0c0c0;
  margin: 0;
}
.empty-class-state-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.empty-class-state-2 img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
}
.empty-class-state-2 p {
  font-family: font1;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #c0c0c0;
  margin: 0;
}
#dashboardSecondSection .pink-dot {
  width: 14px;
  height: 14px;
  background: #ff5b5b;
  border-radius: 50%;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* #dashboardFirstSection {
    height: 110vh;
    padding-top: 144px;
} */
  #dashboardFirstSection {
    height: calc(100vh);
    padding-top: 107px;
    margin-top: -26px;
  }
  #dashboardFirstSection h1 {
    font-size: 45px;
    margin-top: 75px;
    margin-bottom: 33px;
  }

  #dashboardFirstSection .push2 {
    padding: 1px 20px;
  }

  #dashboardSecondSection {
    padding: 50px 20px 1px 20px;
    margin-bottom: -30px;
  }

  #dashboardSecondSection .dropDownContent {
    height: 0px !important;
    top: -197px;
  }

  #dashboardFirstSection .push3 {
    left: 0px;
    width: 100%;
  }

  .dashboard .myChart svg {
    margin-top: 3px;
    display: block;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 74px;
    margin-top: -20px;
  }

  .dashboard .subjectList span {
    margin-bottom: 20px;
  }

  .dashboard .myClassroom .right {
    text-align: left;
    margin-top: 9px;
  }

  .dashboard a.view {
    padding: 3px 35px;
  }
  .resumePlaying .col-md-2 {
    margin-bottom: 50px;
  }
  .dashboard .recommend {
    margin-bottom: 20px;
  }
  #dashboardSecondSection .empty-class-state {
    padding: 20px 10px;
  }
  #dashboardSecondSection .empty-class-state img {
    margin-right: 10px;
    height: 30px;
  }
  #dashboardSecondSection .empty-class-state p {
    font-size: 13px;
  }
  #dashboardSecondSection .pink-dot {
    margin-right: 10px;
  }
 
}
