#storriesFirstSection{
	/* background-image: url('../../../../assets/img/sample.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-size: cover;
	margin-top: -115px;
	color: white; */
    /* height: 95vh; */
    background-color: #FBFBFB;   
}
#storriesFirstSection .partOne h3{
    color: #4A5568;
}

#storriesFirstSection .partOne {
    padding: 150px 60px 150px 90px;
}
#storriesFirstSection .imgFloat {
    position: absolute;
    top: 209px;
    right: 264px;
}
#storriesFirstSection .partTwo{
    margin-top: 90px;
}
.storyHeadingColor{
    color: #C8C4C4;
}
.storySeeAll{
    padding: 4px 7px;
    background-color: #E3FDAC !important;
    color: #84BB29 !important;
    border-radius: 5px;
}
.storyReadMore {
    display: inline-block;
    float: right;
    font-size: 13px;
}

#storriesFirstSection h1{
    font-size: 70px;
}
#storriesSecondSection{
    padding: 0px 120px 40px 120px;
}
#storriesSecondSection .col-md-12{
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0.5pt 10pt rgb(0 0 0 / 10%);
    margin-top: -22px;
    text-align: center;
}
#storriesSecondSection p {
    font-size: 20px;
}
#storriesThirdSection> .row {
    padding: 30px 60px;
}
#storriesThirdSection {
    margin-bottom: 100px;
}
#storriesThirdSection .col-md-3 img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0px 0px;
}
#storriesThirdSection .col-md-3{
   margin-bottom: 38px;
}
#storriesThirdSection .col-md-3:hover{
    cursor: pointer;
}
#storriesThirdSection span {
    display: block;
    border-radius: 0px 0px 8px 8px;
    padding: 20px;
    box-shadow: 0 0.5pt 10pt rgb(0 0 0 / 10%);
    height: 208px;
    background-color: white;
}
#storriesThirdSection .readMore{
    position: absolute;
    bottom: 0px;
    color: #84bb29;
}
#storries .myButton {
    background: #84bb29;
    padding: 7px 15px;
    color: white;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 29px;
}
.storriesFourthSection{
    background-color: #f5f5f5;
}
.storriesFourthSection h2, #storriesFifthSection h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 13px;
}
#storries .part2 {
    background: #f5f5f5;
}
#storriesFifthSection p {
    padding: 35px 365px;
    font-size: 20px;
}
#storries video {
    width: 100% !important;
    height: 270px !important; 
    margin-top: -72px;
}
.storyFull .react-player {
    height: 500px !important;
}
.storyViewSingle{
    padding: 94px 103px;
}
.storyViewSingleTitle {
    margin-top: 26px;
    margin-bottom: -2px;
}
@media screen and (max-width: 768px) {
    #storriesSecondSection {
        padding: 50px 20px;
    }
    #storriesThirdSection> .row {
        padding: 30px 1px;
    }
    #storries video {
        margin-bottom: -9px;
        height: 226px !important;
        margin-top: -51px;
    }
    #storriesThirdSection span {
        height: 196px;        
    }
    #storriesFirstSection .partOne {
        padding: 50px 20px;
        margin-top: 50px;
    }
    #storriesFirstSection h1 {
        font-size: 49px;
    }
    #storriesFirstSection .partTwo {
        margin-top: 2px;
    }
    .storyViewSingle {
        padding: 50px 20px;
        margin-top: 71px;
    }
    .storyFull .react-player {
        height: 216px !important;
    }
  
}